#wrap
	height 100%
.content-img
	width 100%
	height 600px
	.content-main-nav
		width 180px
		height 600px
		float left
		.content-main-nav-wrap
			.content-main-nav-item
				width 180px
				height 200px
				background-color #0C4E32
				color #eee
				font-size 20px
				line-height 200px
				cursor pointer
			.clicked
				background-color #898000
	.content-img-wrap
		width 900px
		height 600px
		float left
		img
			width 100%
			height 100%
.content-main
	.peidaiyanshi-main
		height 600px
		width 900px
		background-color #fff
	.peidaiyanshi-introduction
		float left
		height 600px
		width 450px
		padding 50px
		img
			height 200px
			width 340px
		.content-main-head
			height 45px
			border-bottom 1px solid #ddd
			.content-head-title
				font-size 28px
				border-bottom 5px solid #898000
				width 120px
				float left
			.content-head-title-eng
				font-size 16px
				display block
				text-align left
				line-height 52px
				color #bbb

	.article-introduction img
		height 100%
		width 100%
.content-wrap
	position relative
#peidaiyanshi-main
	position absolute
	top 0
	left 180px