<div class="news-wrap">
    <div class="news-main-wrap">
        <div class="close-btn">X</div>
        <div class="news-main">
            <br/>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<div class="content-title">脱发解决方案时尚健康大盘点</div>
            <br/>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;掉发越来越严重了，发际线越发抬高，这样下去不是办法。怎么办呢，小编教你好几招，拯救头发，挽回青春！
            <br/>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;1、植发手术
            <br/>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<div class="content-detail-img"><img src="/App/image/view/diaofazixun/chanpinzixun_51.jpg" alt=""/></div>
            <br/>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;“植发手术”是应用显微外科手术技术取出这一部分健康的毛囊组织，经仔细加工培养后按照自然的头发生长方向艺术化地移植于患者秃顶、脱发的部位。毛囊存活后便会生长出健康的新发，而且所长出的新发保持原有头发的一切生物学特性，不会再次脱落或坏死。长出的新发可以正常地吹发、烫发及染发，完全恢复了患者脱发前的面貌。该方式主要适用于：
            <br/>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;（1）男性型脱发（又称早秃、雄性源素脱发、脂溢性脱发），它的发病占男性脱发的70%以上。这种患者尤以中年男性患者脱发已稳定的为首选。
            <br/>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;（2）女性头顶头发稀疏，发际线过高的。
            <br/>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;（3）因感染、外伤、烧烫伤及手术包括除皱手术留下疤痕性脱发的。
            <br/>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;（4）以上受术者应身体健康，无心、肺、肝、肾、血液等重大疾病，非瘢痕性体质，有足够多的优势供发区，供发区及受发区局部无炎症、无破溃。
            <br/>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;2、食疗生发
            <br/>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<div class="content-detail-img"><img src="/App/image/view/diaofazixun/chanpinzixun_52.jpg" alt=""/></div>
            <br/>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;（1）补充类粘蛋白和骨胶质——可多吃牛骨汤、排骨汤等。
            <br/>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;（2）补充维生素E——因为维生 素E可以抵抗毛发衰老，促进毛母细胞分裂，使毛发生长。可多吃鲜莴苣、青色卷心菜、黑芝麻等。
            <br/>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;（3）补碘——女性头发的光泽与 甲状腺的作用有关，补碘能增强甲状腺的功能，有利于头发健美。脱发女性可多吃海带、紫菜、牡蛎 等食品。
            <br/>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;（4）补充植物蛋白——研究发现，脱发者的头发中氮氨酸、胱氨酸明显减少。因此，患者应多吃大豆、黑芝麻、玉米等富含蛋氨酸、胱氨酸的食品。
            <br/>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;（5）补充铁质——根据科学家研究，脱发妇女中，缺铁者占30%，因此，患者要多吃含铁质丰富的食物，如黄豆、黑豆、蛋类、带鱼、虾、熟花生、菠菜、鲤鱼、香蕉、胡萝卜、马铃薯等。
            <br/>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;（6）多吃蔬菜和水果——妇女容易脱发的因素之一是血液中含有酸性毒素，长期过量食用糖类和脂肪类食物，使代谢过程中产生的乳酸 、丙 酮 酸 、碳酸等酸性物质滞留体内，产生酸毒素。所以要少吃肝类、肉类等食品，因这些食品中的酸性物 质容易引起酸毒素过多。蔬菜和水果是碱性食物，能中和酸性毒素，可以适当多吃。
            <br/>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;（7）何首乌、生侧柏、黑芝麻、旱莲草、女贞子、生地各克，陈皮克，川椒克，大青盐克。加水毫升，煎至毫升，取药汁，放入黑豆克，煮至药汁全部 被豆吸收光为止，将豆晒干后，每次嚼服粒，每日次，治愈方停。
            <br/>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;3、磁疗生发
            <br/>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<div class="content-detail-img"><img src="/App/image/view/diaofazixun/chanpinzixun_53.jpg" alt=""/></div>
            <br/>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;长期的研究与观察认为，导致脂溢性脱发最直接的关键原因在于皮脂分泌过旺，皮肤中有些成份如油酸、亚油酸、角鲨烯等过量时对毛囊有毒性作用，导致毛皮中毒、枯萎、脱落。实验表明，将含有这些成份的油脂涂到动物皮毛上就会引起皮毛的大量脱落。脂溢性脱发与皮脂分泌过旺有直接关联的证据之一是，人体皮脂分泌与气温高低有关， 气温越高皮脂分泌越多。
            <br/>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;即是以磁场作用于人体治疗疾病的方法。磁场影响人体电流分布、荷电微粒的运动、膜系统的通透性等，使组织细胞的生理、 生化过程改变，产生镇痛、消肿、促进血液及淋巴循环等作用。
            <br/>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;4、发际线移植手术
            <br/>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<div class="content-detail-img"><img src="/App/image/view/diaofazixun/chanpinzixun_54.jpg" alt=""/></div>
            <br/>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;发际线移植就是通过毛发移植术将发际线调整到标准的发际线的位置,种植发际线是按正常的头发的生长方向移植.自然生长的毛发丝呈圆锥状,较细软,而移植的毛发丝呈圆柱状,发丝粗者,移植的毛发略显粗硬.种植发际线区不留任何疤痕.因移植的是头发的毛囊,会随头发长长而长长,可按需要修剪其长短。
            <br/>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;在发际缘的额部设计下移的切口线，切除发际前额部1.5cm皮肤，然后在头顶部帽状腱膜下分离，彻底止血，在无张力下缝合。在发际前的额部设计新的发际线.然后采用单株植毛发或柱状植毛发术.植毛发可分几期进行，头枕部是理想的供毛区，这种方法成活率高，但分期植毛时间拖延较长。
            <br/>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;5、新一代3D雕发技术
            <br/>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<div class="content-detail-img"><img src="/App/image/view/diaofazixun/chanpinzixun_55.jpg" alt=""/></div>
            <br/>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;极致隐形美发技术，全新概念真假发柔和定制时尚，采用立体个性化取模技术，结合个人形象、气质与职业特点，突破自体发量、发质、发色限制，由具有精湛雕发技术及时尚审美眼光的资深雕发造型师定制设计，实现形象瞬间蜕变，体验健康自信的百变时尚，彻底摆脱烫染的健康隐患。
            <br/>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<div class="content-detail-erimg">更多时尚健康资讯！赶快扫描下方二维码，或关注戴丝诺微信公众号iszdsn。</div>
            &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<div class="content-detail-img"><img src="/App/image/global/logo/erweicode.png" alt=""/></div>

        </div>
    </div>
    <div class="news-wrap-mask">

    </div>
</div>