<div class="news-wrap">
    <div class="news-main-wrap">
        <div class="close-btn">X</div>
        <div class="news-main">
            <br/>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<div class="content-title">50至55岁长白发是身体健康的标志</div>
            <br/>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;美国研究人员经过大量研究实验发现，白发并非人体衰老的标志，恰恰相反，它可能是身体健康的标志。
            <br/>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<div class="content-detail-img"><img src="/App/image/view/diaofazixun/chanpinzixun_31.jpg" alt=""/></div>
            <br/>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;美国研究人员发现，处于同一年龄段的人，其头发变白的程度也不完全一样。对此美国研究人员以白发与人体健康关系为主题进行研究。
            <br/>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;在实验观察过程中，研究人员发现，如果人身体的各个部位均正常运转，那么在50至55岁前，人的头发会完全变白。因此，如果在这个年龄段左右开始出现白发，则标志着身体实际上是健康的。
            <br/>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<div class="content-detail-img"><img src="/App/image/view/diaofazixun/chanpinzixun_32.jpg" alt=""/></div>
            <br/>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;研究人员还解释称，白发的出现表明人体内含有高浓度的谷胱甘肽，这意味着身体在抵抗衰老，并且人体内含有抗氧化机制。
            <br/>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;但若在30岁以前就开始出现白发，则意味着身体出现一定问题。
            <br/>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<div class="content-detail-erimg">更多时尚健康资讯！赶快扫描下方二维码，或关注戴丝诺微信公众号iszdsn。</div>
            &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<div class="content-detail-img"><img src="/App/image/global/logo/erweicode.png" alt=""/></div>

        </div>
    </div>
    <div class="news-wrap-mask">

    </div>
</div>