<div class="news-wrap">
    <div class="news-main-wrap">
        <div class="close-btn">X</div>
        <div class="news-main">
            <br/>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<div class="content-title">简单按摩手法有助于护发养发</div>
            <br/>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;如今，护发养发的秘方有很多。美容护肤专家告诉你，最简单的护发宝典，就要数按摩了。掌握简单的按摩手法，然后坚持使用，就能让秀发得到很好养护。接下来，小编我就为盘点，可以护发的按摩手法。
            <br/>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<div class="content-detail-img"><img src="/App/image/view/diaofazixun/chanpinzixun_21.jpg" alt=""/></div>
            <br/>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;1、十指合拢，指尖先轻按在太阳穴上，以顺时针方向打圈6次;以逆时针方向打圈10次。
            <br/>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;2、将双手并放在额头上，以指腹从眉心中线开始按压。从额头中线开始，至头顶中线。
            <br/>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;3、护发按摩手法是什么呢?双手指腹，从眉心中线开始轻轻地往两侧按压，一直到达太阳穴为止。重复10次。
            <br/>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;4、双手盖住两耳，手指放在脑后，左右两手的手指要尽量靠拢，接着用四指轻轻弹打后脑勺，心里默数49下。
            <br/>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;5、手指插入头发，用力将手掌紧闭握拳，轻拉头发。持续动作至整个头皮都拉撑过为止。
            <br/>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;6、十指微屈做徒手梳头的动作。双手由前额发际将头发梳往脑后，这个动作至少做20次。
            <br/>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<div class="content-detail-img"><img src="/App/image/view/diaofazixun/chanpinzixun_22.jpg" alt=""/></div>
            <br/>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;提醒大家，外出前抹上抗紫外线的发乳或护发素，并以指腹轻轻揉2分钟，再在发端涂一些修护液。这样可以滋养头发，减轻外界环境对头发的伤害，还能让秀发看上去更亮泽。
            <br/>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;这些按摩的小技巧，只要你能坚持使用，秀发就能得到一定的养护效果。打理秀发的秘方有很多，按摩方法虽然简单，但美发效果出众，适合所有人来使用。所以说，如果你想美发，不妨试一试按摩窍门。
            <br/>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<div class="content-detail-erimg">更多时尚健康资讯！赶快扫描下方二维码，或关注戴丝诺微信公众号iszdsn。</div>
            &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<div class="content-detail-img"><img src="/App/image/global/logo/erweicode.png" alt=""/></div>

        </div>
    </div>
    <div class="news-wrap-mask">

    </div>
</div>