<div class="news-wrap">
    <div class="news-main-wrap">
        <div class="close-btn">X</div>
        <div class="news-main">
            <br/>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<div class="content-title">戴丝诺全国连锁构局之穿越古都西安</div>
            &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<div class="content-title-time">  发布时间：2014年11月11日</div>
            <br/>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;近日，戴丝诺走进西安，开启穿越古都之旅，拓展全国连锁构局。戴丝诺西安加盟连锁店即将火热筹备，预计2015年5月25日投入运营。
            <br/>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;西安作为中国古都，神秘而古朴，是中国七大区域中心城市之一，西北地区工商业中心，新欧亚大陆桥中国段最大的中心城市之一。戴丝诺进驻这座历史文化名城，将以新一代雕发技术提升人们的美发造型的健康品质，也将为这座国际旅游城市掀起雕发狂潮的时尚美丽体验。
            <br/>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<div class="content-detail-img"><img src="/App/image/view/diaofazixun/xinwendongtai_61.jpg" alt=""/></div>
            <br/>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<div class="content-detail-erimg">更多时尚健康资讯！赶快扫描下方二维码，或关注戴丝诺微信公众号iszdsn。</div>
            &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<div class="content-detail-img"><img src="/App/image/global/logo/erweicode.png" alt=""/></div>

        </div>
    </div>
    <div class="news-wrap-mask">

    </div>
</div>