<div class="news-wrap">
    <div class="news-main-wrap">
        <div class="close-btn">X</div>
        <div class="news-main">
            <br/>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<div class="content-title">儿童“压力山大”的危害不容忽视</div>
            <br/>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;某儿童医院皮肤科门诊，仅仅一个月，已经接诊了好几十例脱发的孩子，大的正在念小学，小的居然才2岁，平均每天都能遇见两三个。孩子斑秃的居多、即头上掉了一两块的，比较严重的是“普秃”，即有毛发的地方都掉！
            <br/>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<div class="content-detail-img"><img src="/App/image/view/diaofazixun/chanpinzixun_41.jpg" alt=""/></div>
            <br/>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;科学证明：当孩子倍受心理压力或者精神刺激不能在短时间内消除，很容易以脱发的形式表达。该种类的脱发常常被称为是斑秃，斑秃疾病是可以恢复的。由遗传因素导致的，因儿童体内的脱发基因的存在，让小孩在刚出生的时候毛囊不发达，这就会出现天生无发或者少发，或者头发质量差数量少的现象。如果是该情况的儿童，父母一定要重视，给它积极的护理，不然会有变成光头的可能。
            <br/>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;为了评估儿童脱发原因的临床表现，韩国汉城的中央大学医学院及发博士脱发机构在布鲁塞尔举行的国际毛发研究学会提出一个为期五年多的研究报告。
            <br/>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;从1995年五月到2000年12月，有162位15岁以下的儿童，854位门诊诊断为脱发的新病例中，其中脱发有118例、头皮及眉毛的毛发皆掉落共32例、全身毛发都掉落共10例、拔毛癖有两例。研究结果的统计资料如下：
            <br/>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;1、儿童脱发的平均年龄是7.8岁;55.9%是小学学生。
            <br/>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;2、最常见的儿童脱发类型是圆秃占7.3%。
            <br/>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;3、再发个案约12.4%;有家族病史占6.8%。
            <br/>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;4、最常合并的疾病是异位性皮肤炎。
            <br/>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;5、家中老大或者是校内外课业较繁重的儿童，29.1%具有较高的罹患率。
            <br/>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;6、经过神经精神会诊，有儿童心智科相关问题的比例约51.7%。
            <br/>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;7、研究显示，儿童脱发或让脱发更加恶化的原因之一：亲子关系疏离或心理上承受较大的压力。
            <br/>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<div class="content-detail-img"><img src="/App/image/view/diaofazixun/chanpinzixun_42.jpg" alt=""/></div>
            <br/>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;据统计，秃顶的儿童发病年龄集中在学龄前后，因为这段时间孩子生活中的应激事件比较多，要开始习惯学校生活，家长对孩子也有了更多要求，有些孩子不能很好地适应，“压力山大”的结果就是掉头发。
            <br/>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;孩子面临的压力因素对他们的神经发育不利，进而有可能在其一生中导致各种健康问题和疾病的出现。压力过大会造成注意力不集中，记忆力下降，理解力、创造力下降、烦躁不安、焦虑等后果。
            <br/>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<div class="content-detail-img"><img src="/App/image/view/diaofazixun/chanpinzixun_43.jpg" alt=""/></div>
            <br/>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;若发现孩子秃顶或有斑秃，应即时采用以下应对方法：
            <br/>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;1、减少孩子的学习压力，比如削减课外学习、培训的数量。
            <br/>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;2、每次用桑树根皮4钱、水，加陈醋2两烧开后待温洗头，每日一次，洗后勿用清水过头，连用5天，能促进头皮血液循环，具有固发防脱作用。
            <br/>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;3、多关心陪伴孩子，经常进行户外活动，如郊游、运动、游乐场玩耍等。
            <br/>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<div class="content-detail-erimg">更多时尚健康资讯！赶快扫描下方二维码，或关注戴丝诺微信公众号iszdsn。</div>
            &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<div class="content-detail-img"><img src="/App/image/global/logo/erweicode.png" alt=""/></div>

        </div>
    </div>
    <div class="news-wrap-mask">

    </div>
</div>