<div class="news-wrap">
    <div class="news-main-wrap">
        <div class="close-btn">X</div>
        <div class="news-main">
            <br/>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<div class="content-title">美国华裔教授发现有望治疗男性脱发的新方法</div>
            <br/>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;据美国《星岛日报》南加大(USC)干细胞研究所教授、“台湾中央研究院”院士钟正明(Cheng-Ming Chuong)领导的研究团队发现，在老鼠身上，透过特殊的方式与密度拔200根头发，可以诱汇出1200根替代性的毛发生长。这项最新的研究结果，已发表于本月9日出版的《细胞Cell》科学期刊，被视为可望治疗男性秃头的新突破。
            <br/>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;钟正明也在南加大Keck医学院病理系任教，他表示，这项研究是如何将基础研究，导向有潜在转化价值的研究示范，这项研究成果可将所发现潜在的新靶点，用来治疗脱发疾病的秃头症。
            <br/>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; <div class="content-detail-img"><img src="/App/image/view/diaofazixun/chanpinzixun_11.jpg" alt=""/></div>
            <br/>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;发表这项研究文献的第一作者是陈志强，这项研究开始于几年前，陈志强在南加大担任访问学者期间完成。
            <br/>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;本身为皮肤科医生的陈志强，了解毛囊损伤可以影响它周围的微环境。在此研究之前，钟正明的实验室也已发现，这种微环境的改变，反过来也可影响头发的再生。基于这些理论，他们推论可以借力使力，透过利用微环境来启动更多的毛囊再生。
            <br/>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;为验证这个假设，陈志强运用一种聪明的策略，在老鼠的背部，使用不同方法，一根一根地拔200根毛发。当使用一种低密度方式，从直径超过6毫米的区域拔毛的时候，发现没有任何毛发的再生。然而，当使用高密度方式，从直径为3到5毫米的区域中拔毛的时候，大概会有450到1300根毛发再生了，包括在拔毛区域之外的一些毛发。
            <br/>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; <div class="content-detail-img"><img src="/App/image/view/diaofazixun/chanpinzixun_12.jpg" alt=""/></div>
            <br/>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;研究团队与尔湾加大(UC Irvine)教授Arthur D. Lander经由合作发现，这种再生过程依赖“群体感应”(Quorum Sensing)原则，即一个系统如何应对只影响部分、而不是全体的刺激。在这种情况下，群体感应解释毛囊系统的群体行为，是经由民主程序与组织内门坎来决定。
            <br/>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;通过分子分析，这个研究团队发现，这些毛囊拔除的信号，可以释放炎症蛋白(Inflammatory Proteins)，从而募集免疫细胞快速达到损伤部位。这些免疫细胞接着释放信号分子(Signaling Molecules)，例如，肿瘤坏死因数Alpha (TNF-α)，当它达到一定浓度，可以与拔除和未拔除的毛囊沟通，发出“是时候该长头发了”的指令。钟正明指出，这项研究显示，相同的过程可能也存在于其他器官的生理或病理过程中，但其他现象可能不像头发再生一样容易观察到。
            <br/>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<div class="content-detail-erimg">更多时尚健康资讯！赶快扫描下方二维码，或关注戴丝诺微信公众号iszdsn。</div>
            &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<div class="content-detail-img"><img src="/App/image/global/logo/erweicode.png" alt=""/></div>
        </div>
    </div>
    <div class="news-wrap-mask">

    </div>
</div>