<div class="news-wrap">
    <div class="news-main-wrap">
        <div class="close-btn">X</div>
        <div class="news-main">
            <br/>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<div class="content-title">戴丝诺携手万科举办百变女人节炫动鹏城</div>
            &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<div class="content-title-time">发布时间：2015年3月8日</div>
            <br/>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;2015年3月7-8日，戴丝诺携手万科倾情举办百变女人节，于深圳万科麓城营销中心现场为广大女性朋友打造极质的3D雕发时尚体验，同时还有丰厚的节日福利与现场的各位嘉宾进行互动。
            <br/>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;现场不仅能即刻体验到3D雕发的完美造型效果，还有体验券、现金券、礼品等丰厚节日福利，并且现场的抽奖环节具有超高的中奖率，参与3D雕发时尚体验的朋友还有走秀表演，使得现场热闹非凡，在场的每位朋友都度过了一个愉快的女人节。
            <br/>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<div class="content-detail-img"><img src="/App/image/view/diaofazixun/xinwendongtai_31.jpg" alt=""/></div>            <br/>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<div class="content-detail-erimg">更多时尚健康资讯！赶快扫描下方二维码，或关注戴丝诺微信公众号iszdsn。</div>
            &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<div class="content-detail-img"><img src="/App/image/global/logo/erweicode.png" alt=""/></div>

        </div>
    </div>
    <div class="news-wrap-mask">

    </div>
</div>