<div class="news-wrap">
    <div class="news-main-wrap">
        <div class="close-btn">X</div>
        <div class="news-main">
            <br/>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<div class="content-title">戴丝诺全国连锁构局之缘系浪漫之城珠海</div>
            &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<div class="content-title-time">发布时间：2015年1月1日</div>
            <br/>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;近日，戴丝诺不断开拓全国连锁构局，将3D雕发时尚缘系珠海这座浪漫之城。戴丝诺珠海加盟连锁店正在火热筹备中，预计2015年6月10日开业经营。
            <br/>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;珠海生态环境优美，山水相间，陆岛相望，气候宜人，是中国人居环境一流的浪漫之城。珠海作为 “中国十佳休闲宜居生态城市”，亦被誉为“最养人的城市”。戴丝诺以美发、养发的时尚健康理念进驻珠海，将为珠海带来美丽健康的新生体验，满足人们对时尚品质生活的更高追求。
            <br/>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<div class="content-detail-img"><img src="/App/image/view/diaofazixun/xinwendongtai_51.jpg" alt=""/></div>
            <br/>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<div class="content-detail-erimg">更多时尚健康资讯！赶快扫描下方二维码，或关注戴丝诺微信公众号iszdsn。</div>
            &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<div class="content-detail-img"><img src="/App/image/global/logo/erweicode.png" alt=""/></div>

        </div>
    </div>
    <div class="news-wrap-mask">

    </div>
</div>