<div class="content">
	<div class="content-main">
		<div class="content-detail-wrap actived" id="xinwendongtai-detail">
			<div class="content-xinwendongtai-left">
				<img src="/App/image/view/diaofazixun/xinwendongtai.jpg" alt=""/>
			</div>
			<div class="content-xinwendongtai-right">

			</div>
		</div>
		<div class="content-detail-wrap" id="chanpinzixun-detail">
			<div class="content-chanpinzixun-left">

			</div>
			<div class="content-chanpinzixun-right">
				<img src="/App/image/view/diaofazixun/chanpinzixun.jpg" alt=""/>

			</div>
		</div>
	</div>
	<div class="content-nav">
		<div class="content-nav-wrap">
			<div class="content-nav-item" id="xinwendongtai">新闻动态</div>
			<div class="content-nav-item" id="chanpinzixun">产品资讯</div>
		</div>
	</div>
</div>