<div class="content-wrap">
	<div class="content-left">
		<div class="catalog-list">
			<div class="catalog-head">
				<img src="/App/image/view/joinus/brand.png" alt=""/>
			</div>
			<div class="catalog-items">
                <div class="catalog-item  item-atived" id="jiamenghezuo">
                    <div class="catalog-item-in">
                        加盟合作
                    </div>
                </div>
				<div class="catalog-item " id="pinpaijianjie">
					<div class="catalog-item-in">
						品牌简介
					</div>
				</div>
                <div class="catalog-item " id="peixunzhongxin">
                    <div class="catalog-item-in">
                        培训中心
                    </div>
                </div>
                <div class="catalog-item " id="pinpaiyingpian">
                    <div class="catalog-item-in">
                        品牌影片
                    </div>
                </div>
				<div class="catalog-item " id="lianxiwomen">
					<div class="catalog-item-in">
						联系我们
					</div>
				</div>
			</div>
			<div class="catalog-erweiCode">
				<img src="/App/image/view/joinus/erweima1.jpg" alt=""/>

				<div style="text-align: center;font-size: 18px;margin-top: 20px;color: #eee;text-align: center;height: 50px;">
					扫变时尚潮人
				</div>
			</div>
		</div>

	</div>
	<div class="content-right">
		<div id="peixunzhongxin-main" class="content-article" style="display: block">
			<div class="content-main-head">
				<div class="content-head-title">培训中心</div>
				<span class="content-head-title-eng">TRAINING CENTER</span>

			</div>
			<div class="content-main-wrap">
				<div class="brand-introduction-img">
					<img src="/App/image/view/joinus/pinpaigushi_01.jpg" alt="" width="100%" height="100%"/>
				</div>
				<div class="brand-introduction-words">
                    这里是培训中心，欢迎了解相关知识。
				</div>
			</div>
		</div>
        <div id="pinpaijianjie-main" class="content-article" style="display: block">
            <div class="content-main-head">
                <div class="content-head-title">品牌简介</div>
                <span class="content-head-title-eng">BRAND INTRODUCTION</span>

            </div>
            <div class="content-main-wrap">
                <div class="brand-introduction-img">
                    <!--<img src="/App/image/view/joinus/pinpaigushi_01.jpg" alt="" width="100%" height="100%"/>-->
                </div>
                <div class="brand-introduction-words">
                    <div class="brand-introduction-words-title">【公司简介】</div>
                    <div class="brand-introduction-words-details">深圳市戴丝诺时尚文化有限公司主要开展时尚文化公关策划及时尚雕发设计与影视造型等相关领域的业务及服务。旗下戴丝诺雕发中心，是以“3D雕发”为核心技术，以“绿色美发，秒变人生”为服务理念的全国连锁品牌，专业从事增发、补发、养发及抗损百变造型。</div>
                    <div class="brand-introduction-words-title">【技术简介】</div>
                    <div class="brand-introduction-words-details">3D雕发技术，即极致隐形的增补发私人定制技术！量头定制的雕发与使用者自身头发完全融合在一起，就像从头皮里长出来的一样可洗、吹、拉、染、烫，从而达到理想的造型效果。同时，如采用无痕雕发技术，还可以正常睡觉、洗澡，甚至照常进行游泳、跑步、打球等激烈运动。</div>
                    <div class="brand-introduction-words-title">【业务介绍】</div>
                    <div class="brand-introduction-words-details">
                        为让脱发、白发客户，摆脱困扰，充实青春，让长期依赖烫染发，远离化学物质危害，随性塑造个性化发型，倍增自信！
                        <br/>
                        戴丝诺不仅为通过各种广告渠道到店定制雕发的客户提供细致、专业的个性化造型服务，更与影视娱乐机构、明星经纪、名媛富绅及模特演员个人达成长期合作关系，塑造各类银幕角色及高端社交形象！享有良好的品牌口碑及资源平台。目前，已是香港卫视安娜、碟丹、惠茹、曹阳等七大主播指定造型机构，同时，也是澳洲综艺小王子HAZZA、邓小平特型演员江世龙等歌手及演员指定合作方。
                    </div>
                    <div class="brand-introduction-words-title">【发展前景】</div>
                    <div class="brand-introduction-words-details">
                        脱发白发趋增，绿色美发崛起，
                        <br/>
                        行业需求激活，市场前景巨大！
                        <br/>
                        现代人的生活已经无法回避强烈噪音、强光、有毒有害气体、被污染的水、重金属、化学物质等构成的恶劣生存环境，再加上都市生活节奏快工作压力大、生活不规律、饮食结构不合理和营养不均衡等因素的影响和困扰，导致脱发、白发人群的比例越来越高，患者年龄也有逐年递减的显著趋势！
                        <br/>
                        研究表明，我国男性每6个人中就有1名是脱发患者，60％的男性开始脱发小于25岁。而女性脱发的比例也在逐年上升女性脱发约占脱发人群的28.6%！就目前深圳市场来说，整个地区常住人口1200万左右，存在各类头发问题的潜在目标客户人群预计上百万，可见，市场潜力巨大。另外，而一项大学生白发专项调研结果发现，385名大学生中有白发者182名，占47．27％，可见，白发患者有明显年轻化趋势，并随着年龄的增加，其白发发生率逐年上升，更预示雕发行业有着更广大的发展空间。
                        <br/>
                        此外，无论财富悬殊，身份差异，追求个人品位的爱美者们，都难以避免使用各类烫染剂，对健康造成埋下极大隐患。轻则头发、头皮受损，无法达到理想的美发效果，重则诱发重大疾病，危机生命。因此，雕发行业，具有挑战，甚至替代传统美发行业的强大发展动力和潜能，引领全新的时尚美发潮流，成为各界高端时尚品位人士的新宠！
                        <br/>
                        戴丝诺创始的雕发行业，基于传统美发、增补美发的现有基础，顺应绿色健康大趋势，全面激活增发、补发、绿色百变美发三大需求！开启属于戴丝诺的3D雕发私人定制时代！
                        <br/>
                    </div>
                </div>
            </div>
        </div>
		<div id="pinpaiyingpian-main" class="content-article">
			<div class="content-main-head">
				<div class="content-head-title">品牌影片</div>
				<span class="content-head-title-eng">BRAND MOVIE</span>

			</div>
			<div class="content-main-wrap">
				<div class="movies">
					<!--<div class="videoContent">-->
						<!--<iframe height=400 width=600 src="http://player.youku.com/embed/XODQ5NzYzOTQ4" frameborder=0-->
						        <!--allowfullscreen></iframe>-->
					<!--</div>-->

					<!--<img src="/App/image/view/joinus/pinpaiyingpian_01.gif" alt=""/>-->
				</div>
				<div class="movie-introduction">
			    敬请期待...
				</div>
			</div>
		</div>
		<div id="jiamenghezuo-main" class="content-article">
			<div class="content-main-head">
				<div class="content-head-title">加盟合作</div>
				<span class="content-head-title-eng">JOIN IN COOPERATION</span>
			</div>
			<div class="content-main-wrap">
				<div class="cooperation">
					<div class="cooperation-head">
						<div class="cooperation-head-wrap">
							<div id="cooperation-support" class="cooperation-click">加盟优势</div>
							<div id="cooperation-line">加盟条件</div>
							<div id="cooperation-standard">加盟回报</div>
							<div id="cooperation-return" style="border: none">加盟咨询</div>
						</div>
					</div>
					<div class="cooperation-wrap">
						<div id="cooperation-support-content" style="display: block">
                            加盟戴丝诺，我们将为你提供多项资源与多种服务和培训，具体内容有：
                            <br/>
                            （1）品牌平台合作
                            <br/>
                            	形象共享——提供统一的店面及品牌形象指导，让每一家连锁店都拥有良好的品牌形象，增客户信任及决策动力。
                            <br/>
                            	媒体共享——提供全国性各类媒体推广渠道的共享，共享形象品台，整合各加盟商之力，强势营销，为各地加盟店获取更多有效客户。
                            <br/>
                            	活动共享——提供各类促销活动的策划，并通过店面展示、微信及网站等方式进行同步发布，提高策划品质及效率，提供活动话术参考，让加盟商轻松提升店面业绩；
                            <br/>
                            	经验共享——提供地区媒体推广、拓展方式、管理经验、销售话术等方面的经验分享与培训，有效控制成本，增加地区内的客户量及成单率。
                            <br/>
                            （2）技术平台合作
                            <br/>
                            公司在技术层面为每一家加盟店聘用设计师提供技术入门及提升培训，或者由总部直接委派雕发设计师长期驻店。除此之外，总部也将走在技术前沿，及时开展新技术提升普及培训，确保技术到达行业领先水平。
                            <br/>
                            此外，公司将有技术专人负责发源及配件供货质量把关，保证定制品质及售后服务效率。

                        </div>
						<div id="cooperation-line-content">
                            为了让戴丝诺的品牌形象能更加深入人心，引发消费者共鸣，戴丝诺对加盟条件有如下规定：
                            <br/>
                            （1）加盟者——
                            <br/>
                            认同：必须是本店的体验者，认同雕发的功效及行业发展前景；
                            <br/>
                            兴趣：自身具备对健康时尚美发有浓厚的经营兴趣；
                            <br/>
                            资源：拥有一定地区资源或有符合相应条件的经营管理人才；
                            <br/>
                            （2）经营场地——
                            <br/>
                            选址：外部形象良好的写字楼、高档小区或商业中心店面，周边具备有良好的商业氛围和居住氛围，控制租金成本，进行综合选址；
                            <br/>
                            功能：面积约70平方米以上，可兼容2个VIP操作室，1个接待厅，满足洗头上下水条件即可。
                            <br/>
                            （3）区域特权——戴丝诺遵循地区保护原则，一个城市区域限一家加盟主体，但不限制主体在同城开设新店。仅一次性收取加盟费10万元，签署加盟合同后，即可获得指定城市戴丝诺雕发中心连锁店的经营权。

                        </div>
						<div id="cooperation-standard-content">
                            对加盟戴丝诺品牌有意向的朋友，若想进一步咨询加盟流程以及回报等信息，请电话咨询或到店咨询。
                            <br/>
                            咨询电话： 0755-26656882
                            <br/>
                            店面地址：深圳市南山区田厦国际中心B座1919 （南山区委西侧，桃园站A出口）
                        </div>
						<div id="cooperation-return-content">
                            对加盟戴丝诺品牌有意向的朋友，若想进一步咨询加盟流程以及回报等信息，请电话咨询或到店咨询。
                            <br/>
                            咨询电话： 0755-26656882
                            <br/>
                            店面地址：深圳市南山区田厦国际中心B座1919 （南山区委西侧，桃园站A出口）



                        </div>
					</div>
				</div>
			</div>
		</div>
		<div id="lianxiwomen-main" class="content-article">
			<div class="content-main-head">
				<div class="content-head-title">联系我们</div>
				<span class="content-head-title-eng">CONTACT US</span>
			</div>
			<div class="content-main-wrap">
				<div class="introduction">
					<div class="introduction-company">深圳市戴丝诺时尚文化有限公司</div>
					<div class="introduction-company-eng">SHENZHEN DAZZLE FASHION CULTURE Co. Ltd.</div>
					<table>
						<tr>
							<td>地&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;址</td>
							<td>：&nbsp;&nbsp;深圳市南山区田厦国际中心B座1919 （南山区委西侧，桃园站A出口）</td>
						</tr>
						<tr>
							<td>时尚热线</td>
							<td>：&nbsp;&nbsp;0755-26656882</td>
						</tr>
						<tr>
							<td>雕发预约</td>
							<td>：&nbsp;&nbsp;张女士 18126126062</td>
						</tr>
						<tr>
							<td>邮&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;编</td>
							<td>：&nbsp;&nbsp;518000</td>
						</tr>
						<tr>
							<td>邮&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;箱</td>
							<td>：&nbsp;&nbsp;12897237@qq.com</td>
						</tr>
					</table>
				</div>
				<a
					href="http://www.google.cn/maps/place/%E7%94%B0%E5%8E%A6%E5%9B%BD%E9%99%85%E4%B8%AD%E5%BF%83/@22.53248,113.92803,17z/data=!3m1!4b1!4m2!3m1!1s0x3403ee6c940c51e3:0xb3f263f5443a2a91?hl=zh-CN"
					target="_blank">
					<img src="/App/image/view/joinus/map.jpg" width="780px" title="查看详情" alt=""/>
				</a>
			</div>
		</div>
	</div>
</div>