<div class="content-wrap">
	<div class="content-left">
		<div class="catalog-list">
			<div class="catalog-head">
				<img src="/App/image/view/joinus/brand.jpg" alt=""/>
			</div>
			<div class="catalog-items">
				<div class="catalog-item  item-atived" id="pinpaijianjie">
					<div class="catalog-item-in">
						品牌简介
					</div>
				</div>
				<div class="catalog-item " id="pinpaiyingpian">
					<div class="catalog-item-in">
						品牌影片
					</div>
				</div>
				<div class="catalog-item " id="jiamenghezuo">
					<div class="catalog-item-in">
						加盟合作
					</div>
				</div>
				<div class="catalog-item " id="lianxiwomen">
					<div class="catalog-item-in">
						联系我们
					</div>
				</div>
			</div>
			<div class="catalog-erweiCode">
				<img src="/App/image/view/joinus/erweima1.jpg" alt=""/>

				<div style="text-align: center;font-size: 18px;margin-top: 20px;color: #eee;text-align: center;height: 50px;">
					扫变时尚潮人
				</div>
			</div>
		</div>

	</div>
	<div class="content-right">
		<div id="pinpaijianjie-main" class="content-article" style="display: block">
			<div class="content-main-head">
				<div class="content-head-title">品牌介绍</div>
				<span class="content-head-title-eng">BRAND INTRODUCTION</span>

			</div>
			<div class="content-main-wrap">
				<div class="brand-introduction-img">
					<img src="/App/image/view/joinus/pinpaigushi_01.jpg" alt="" width="100%" height="100%"/>
				</div>
				<div class="brand-introduction-words">
					很不错哦~
					很不错哦~
					很不错哦~
					很不错哦~
					很不错哦~
					很不错哦~
					很不错哦~
					很不错哦~
					很不错哦~
					很不错哦~
					很不错哦~
					很不错哦~
					很不错哦~
					很不错哦~
					很不错哦~
				</div>
			</div>
		</div>
		<div id="pinpaiyingpian-main" class="content-article">
			<div class="content-main-head">
				<div class="content-head-title">品牌影片</div>
				<span class="content-head-title-eng">BRAND MOVIE</span>

			</div>
			<div class="content-main-wrap">
				<div class="movies">
					<div class="videoContent">
						<iframe height=400 width=600 src="http://player.youku.com/embed/XODQ5NzYzOTQ4" frameborder=0
						        allowfullscreen></iframe>
					</div>

					<!--<img src="/App/image/view/joinus/pinpaiyingpian_01.gif" alt=""/>-->
				</div>
				<div class="movie-introduction">
					很好看哦~
					很好看哦~
					很好看哦~
					很好看哦~
					很好看哦~
					很好看哦~
				</div>
			</div>
		</div>
		<div id="jiamenghezuo-main" class="content-article">
			<div class="content-main-head">
				<div class="content-head-title">加盟合作</div>
				<span class="content-head-title-eng">JOIN IN COOPERATION</span>
			</div>
			<div class="content-main-wrap">
				<div class="cooperation">
					<div class="cooperation-head">
						<div class="cooperation-head-wrap">
							<div id="cooperation-support" class="cooperation-click">加盟系统支持</div>
							<div id="cooperation-line">加盟流程</div>
							<div id="cooperation-standard">加盟标准</div>
							<div id="cooperation-return" style="border: none">加盟回报</div>
						</div>
					</div>
					<div class="cooperation-wrap">
						<div id="cooperation-support-content" style="display: block">
							1加盟系统支持加盟系统支持加盟系统支持加盟系统支持加盟系统支持加盟系统支持
							加盟系统支持加盟系统支持加盟系统支持加盟系统支持加盟系统支持加盟系统支持
							加盟系统支持加盟系统支持加盟系统支持加盟系统支持加盟系统支持加盟系统支持
							加盟系统支持加盟系统支持加盟系统支持加盟系统支持加盟系统支持加盟系统支持
							加盟系统支持加盟系统支持加盟系统支持加盟系统支持加盟系统支持加盟系统支持
							加盟系统支持加盟系统支持加盟系统支持加盟系统支持加盟系统支持加盟系统支持
							加盟系统支持加盟系统支持加盟系统支持加盟系统支持加盟系统支持加盟系统支持
							加盟系统支持加盟系统支持加盟系统支持加盟系统支持加盟系统支持加盟系统支持
							加盟系统支持加盟系统支持加盟系统支持加盟系统支持加盟系统支持加盟系统支持
							加盟系统支持加盟系统支持加盟系统支持加盟系统支持加盟系统支持加盟系统支持
						</div>
						<div id="cooperation-line-content">222加盟系统支持加盟系统支持加盟系统支持加盟系统支持加盟系统支持加盟系统支持
							加盟系统支持加盟系统支持加盟系统支持加盟系统支持加盟系统支持加盟系统支持
							加盟系统支持加盟系统支持加盟系统支持加盟系统支持加盟系统支持加盟系统支持
							加盟系统支持加盟系统支持加盟系统支持加盟系统支持加盟系统支持加盟系统支持
							加盟系统支持加盟系统支持加盟系统支持加盟系统支持加盟系统支持加盟系统支持
							加盟系统支持加盟系统支持加盟系统支持加盟系统支持加盟系统支持加盟系统支持
							加盟系统支持加盟系统支持加盟系统支持加盟系统支持加盟系统支持加盟系统支持
							加盟系统支持加盟系统支持加盟系统支持加盟系统支持加盟系统支持加盟系统支持
							加盟系统支持加盟系统支持加盟系统支持加盟系统支持加盟系统支持加盟系统支持
							加盟系统支持加盟系统支持加盟系统支持加盟系统支持加盟系统支持加盟系统支持
						</div>
						<div id="cooperation-standard-content">333
							加盟标准加盟标准加盟标准加盟标准加盟标准加盟标准加盟标准加盟标准加盟标准加盟标准
							加盟标准加盟标准加盟标准加盟标准加盟标准加盟标准加盟标准
							加盟标准加盟标准加盟标准加盟标准加盟标准加盟标准加盟标准加盟标准加盟标准加盟标准
						</div>
						<div id="cooperation-return-content">444加盟回报
							加盟系统支持加盟系统支持加盟系统支持加盟系统支持加盟系统支持加盟系统支持
							加盟系统支持加盟系统支持加盟系统支持加盟系统支持加盟系统支持加盟系统支持
							加盟系统支持加盟系统支持加盟系统支持加盟系统支持加盟系统支持加盟系统支持
							加盟系统支持加盟系统支持加盟系统支持加盟系统支持加盟系统支持加盟系统支持
							加盟系统支持加盟系统支持加盟系统支持加盟系统支持加盟系统支持加盟系统支持
							加盟系统支持加盟系统支持加盟系统支持加盟系统支持加盟系统支持加盟系统支持
							加盟系统支持加盟系统支持加盟系统支持加盟系统支持加盟系统支持加盟系统支持
							加盟系统支持加盟系统支持加盟系统支持加盟系统支持加盟系统支持加盟系统支持
							加盟系统支持加盟系统支持加盟系统支持加盟系统支持加盟系统支持加盟系统支持
							加盟系统支持加盟系统支持加盟系统支持加盟系统支持加盟系统支持加盟系统支持
						</div>
					</div>
				</div>
			</div>
		</div>
		<div id="lianxiwomen-main" class="content-article">
			<div class="content-main-head">
				<div class="content-head-title">联系我们</div>
				<span class="content-head-title-eng">CONTACT US</span>
			</div>
			<div class="content-main-wrap">
				<div class="introduction">
					<div class="introduction-company">深圳市戴丝诺时尚文化有限公司</div>
					<div class="introduction-company-eng">SHENZHEN DAZZLE FASHION CULTURE Co. Ltd.</div>
					<table>
						<tr>
							<td>地&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;址</td>
							<td>：&nbsp;&nbsp;深圳市南山区田厦国际中心B座1919 （南山区委西侧，桃园站A出口）</td>
						</tr>
						<tr>
							<td>时尚热线</td>
							<td>：&nbsp;&nbsp;0755-26656882</td>
						</tr>
						<tr>
							<td>雕发预约</td>
							<td>：&nbsp;&nbsp;张女士 18126126062</td>
						</tr>
						<tr>
							<td>邮&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;编</td>
							<td>：&nbsp;&nbsp;518000</td>
						</tr>
						<tr>
							<td>邮&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;箱</td>
							<td>：&nbsp;&nbsp;518000@qq.com</td>
						</tr>
					</table>
				</div>
				<a
					href="http://www.google.cn/maps/place/%E7%94%B0%E5%8E%A6%E5%9B%BD%E9%99%85%E4%B8%AD%E5%BF%83/@22.53248,113.92803,17z/data=!3m1!4b1!4m2!3m1!1s0x3403ee6c940c51e3:0xb3f263f5443a2a91?hl=zh-CN"
					target="_blank">
					<img src="/App/image/view/joinus/map.jpg" width="780px" title="查看详情" alt=""/>
				</a>
			</div>
		</div>
	</div>
</div>