#wrap
	height 100%
	width 100%
	background-color #303030
	position relative
.content-wrap
	margin 0 auto
	.content-img-wrap
		margin 0 auto
		height 640px
.content-img-item
	float left
	width 25%
	height 100%
	position relative
	cursor pointer
	.content-img-item-mask
		display block
		position absolute
		top 0
		left 0
		height 100%
		width 100%
		background-color #000
		opacity 0.5
.fc-content-wrap
	height 660px
	width 1080px
	margin 0 auto
	position relative
	.fc-content-left
		float left
		width 65%
		height 100%
		.fc-left-up
			float left
			height 400px
			width 98%
			position relative
			margin 5px
		.fc-left-dleft
			float left
			height 240px
			width 33%
			position relative
			margin 5px
		.fc-left-dright
			float left
			height 240px
			width 63%
			position relative
			margin 5px
	.fc-content-right
		float left
		width 33%
		height 640px
		margin 5px
		.fc-content-right-wrap
			position relative
			height 100%
			width 100%
.fc-word-mask
	position absolute
	height 50px
	width 100%
	bottom 0
	left 0
	background-color #000
	opacity .5
.fc-words
	position absolute
	bottom  0
	left 0
	text-align left
	padding 0 30px
	font-size 14px
	line-height 25px
	height 50px
	overflow hidden
	color #eee
.fc-content-arrow-wrap
	position absolute
	top 0
	left 0
	width 100%
.fc-content-arrow
	position relative
	.arrow-left
		position absolute
		left -64px
		top 250px
		cursor pointer
	.arrow-right
		position absolute
		right -64px
		top 250px
		cursor pointer
.active
	display block!important
