<div class="content-wrap">
	<div class="content-img">
		<div class="content-main-nav">
			<div class="content-main-nav-wrap">
				<div class="content-main-nav-item clicked" id="zengbudiaofa">增补雕发</div>
				<div class="content-main-nav-item" id="shishangdiaofa">时尚雕发</div>
				<div class="content-main-nav-item" id="peidaiyanshi" style="border: none">佩戴演示</div>
			</div>
		</div>
		<div class="content-img-wrap">
			<img src="/App/image/view/diaofajianshang/diaofajianshang.jpg" alt=""/>
		</div>

	</div>
	<div class="content-main">
		<div class="content-main-article" id="zengbudiaofa-main">
			<div class="article-introduction">
				<img src="/App/image/view/diaofajianshang/zengbudiaofa1.jpg" alt=""/>
				<img src="/App/image/view/diaofajianshang/zengbudiaofa2.jpg" alt=""/>
				<img src="/App/image/view/diaofajianshang/zengbudiaofa3.jpg" alt=""/>

			</div>
		</div>
		<div class="content-main-article" id="shishangdiaofa-main">
			<div class="article-introduction">
				<img src="/App/image/view/diaofajianshang/zengbudiaofa1.jpg" alt=""/>
				<img src="/App/image/view/diaofajianshang/zengbudiaofa2.jpg" alt=""/>
				<img src="/App/image/view/diaofajianshang/zengbudiaofa3.jpg" alt=""/>
			</div>
		</div>
		<div class="content-main-article" id="peidaiyanshi-main">
			<div class="peidaiyanshi-main">
				<div class="peidaiyanshi-introduction">
					<img src="/App/image/view/diaofajianshang/peidaiyanshi.jpg" id="peidaiyanshi1" alt=""/>
					<div class="content-main-head">
						<div class="content-head-title">增补佩戴</div><span class="content-head-title-eng">TECHNICAL VIEW</span>
					</div>
					<div class="peidaiyanshi-introduction-words">
						33这个技术很牛逼的！这个技术很牛逼的！这个技术很牛逼的！这个技术很牛逼的！这个技术很牛逼的！这个技术很牛逼的！
						这个技术很牛逼的！这个技术很牛逼的！这个技术很牛逼的！这个技术很牛逼的！这个技术很牛逼的！这个技术很牛逼的！
						这个技术很牛逼的！这个技术很牛逼的！这个技术很牛逼的！这个技术很牛逼的！这个技术很牛逼的！这个技术很牛逼的！
						这个技术很牛逼的！这个技术很牛逼的！这个技术很牛逼的！这个技术很牛逼的！这个技术很牛逼的！这个技术很牛逼的！
						这个技术很牛逼的！
					</div>
				</div>
				<div class="peidaiyanshi-introduction">
					<img src="/App/image/view/diaofajianshang/peidaiyanshi.jpg" id="peidaiyanshi2" alt=""/>
					<div class="content-main-head">
						<div class="content-head-title">时尚佩戴</div><span class="content-head-title-eng">TECHNICAL VIEW</span>
					</div>
					<div class="peidaiyanshi-introduction-words">
						33这个技术很牛逼的！这个技术很牛逼的！这个技术很牛逼的！这个技术很牛逼的！这个技术很牛逼的！这个技术很牛逼的！
						这个技术很牛逼的！这个技术很牛逼的！这个技术很牛逼的！这个技术很牛逼的！这个技术很牛逼的！这个技术很牛逼的！
						这个技术很牛逼的！这个技术很牛逼的！这个技术很牛逼的！这个技术很牛逼的！这个技术很牛逼的！这个技术很牛逼的！
						这个技术很牛逼的！这个技术很牛逼的！这个技术很牛逼的！这个技术很牛逼的！这个技术很牛逼的！这个技术很牛逼的！
						这个技术很牛逼的！这个技术很牛逼的！这个技术很牛逼的！这个技术很牛逼的！这个技术很牛逼的！这个技术很牛逼的！
						！这个技术很牛逼的！这个技术很牛逼的！这个技术很牛逼的！这个技术很牛逼的！这个技术很牛逼的！这个技术很牛逼的！
						这个技术很牛逼的！
					</div>
				</div>
			</div>
		</div>
	</div>
</div>