#wrap
	height 640px
	width 1080px
	margin 0 auto
.content
	.content-main
		height 450px
		margin-top 20px
		.content-detail-wrap
			height 450px
			width 1080px
			display none


			.content-xinwendongtai-left,.content-xinwendongtai-right,.content-chanpinzixun-left,.content-chanpinzixun-right
				height 450px
				width 540px
				float left
		.actived
			display block
	.content-nav
		height 50px
		width 1080px
		.content-nav-wrap
			height 50px
			width 1080px
			.content-nav-item
				height 50px
				width 540px
				float left
				font-size 20px
				line-height 50px
				color #EEEEEE
				cursor pointer
				background-color: #034F2B
			.clicked
				background-color: #898000
.content-xinwendongtai-right
	.content-detail-list
		height 386px
		padding-left 50px
		li
			height 50px
			line-height 50px
			text-align left
			font-weight bold
			font-size 14px
			list-style-type square
			cursor: pointer
			.list-item-wrap
				color #123
				.item-right
					float right
.content-chanpinzixun-left
	.content-detail-list
		height 386px
		padding-right 50px
		li
			height 50px
			line-height 50px
			text-align left
			font-weight bold
			font-size 14px
			list-style-type square
			cursor: pointer
			.list-item-wrap
				color #123
				.item-right
					float right
#xw_pagination
	margin-left 50px
	border-top 1px dashed #111
#cp_pagination
	margin-right 50px
	border-top 1px dashed #111
.pagination
	.current
		color orange
	a, .prev, .next
		color #333
.news-wrap
	position absolute
	top 0
	left 0
	height 500px
	width 500px
	margin 0 auto
.news-main {
  position fixed
  z-index 9999
  left 20%
  top 30px
  width 800px
  background #fff
  max-height 650px
  overflow-y scroll
  display block
  font-size 14px
  text-align left
  line-height 36px
  padding 20px
}
.content-title{
  text-align center
  font-size 16px
  color rgb(79,98,40)
  font-weight bold
}
.content-title-time{
  text-align center
  font-size 12px
}
.content-detail-img{
  text-align center
}
.content-detail-erimg{
  text-align center
  color #348024
  font-size 16px
  font-weight bold
}
.news-wrap-mask
	position fixed
	width 100%
	height 100%
	z-index 9998
	left 0
	right 0
	top 0
	bottom 0
	opacity 0.3
	background #000
.close-btn
	position fixed
	z-index 9999
	left 20%
	top 0
	height 30px
	width 30px
	color #fff
	background rgb(139,126,1)
	font-size 20px
	cursor pointer
.brand-introduction-words {
  font-size: 14px;
  text-align left;
  .brand-introduction-words-title{
    font-size: 16px;
  }
}