
.content
	.content-main
		height 450px
		margin-top 20px
		.content-detail-wrap
			height 450px
			width 1080px
			display none


			.content-xinwendongtai-left,.content-xinwendongtai-right,.content-chanpinzixun-left,.content-chanpinzixun-right
				height 450px
				width 540px
				float left
		.actived
			display block
		.content-detail-list
			height 400px
			li
				height 40px
				line-height 40px
				text-align left
				padding-left 50px
				font-weight bold
				.list-item-wrap
					color #123
					.item-right
						float right
	.content-nav
		height 50px
		width 1080px
		.content-nav-wrap
			height 50px
			width 1080px
			.content-nav-item
				height 50px
				width 540px
				float left
				font-size 20px
				line-height 50px
				color #EEEEEE
				cursor pointer
				background-color: #034F2B
			.clicked
				background-color: #898000
				