.content
	/*height 640px*/
	bottom 0
	min-width 1080px
	overflow-y hidden
	margin-top -160px
.contentWrap
	height 160px
	width 1080px
	margin 0 auto
.contentDiv
	width: 260px
	height: 160px
	float: left
	margin: 0 5px
	position: relative
	overflow: hidden
.movieShow
	text-align center
	line-height 160px

.productInfo
	width 100%
	height 180px
	color #fff
	padding 0 10px
	.pruductTitle
		height 40px
		line-height 40px
		text-align left
		width 160px
		float left
		font-size 16px
		color #E6B06E
	.productMore
		float right
		height 40px
		line-height 40px
		text-align right
		width 80px
		font-size 16px
	.productList
		height 140px
		width 240px
		margin-top 15px
		float left
		.productListImg
			height 80px
			width 80px
			margin-right 20px
			float left
			background: url('/App/image/global/logo/diaofashishang.jpg') no-repeat center;
		.productListSummary
			height 120px
			width 140px
			text-align left
			float left
			font-size 14px
			a:hover
				text-decoration underline

.contentNews,.contentProduct,.contentJoin
	width 100%
	height 360px
	position: absolute
	top 0
	left 0
.news
	width 100%
	height 180px
	color #fff
	padding 0 10px
	.newsTitle
		height 40px
		line-height 40px
		width 160px
		float left
		font-size 16px
		color #E6B06E
		text-align left
	.newsMore
		float right
		height 40px
		line-height 40px
		text-align right
		width 80px
		font-size 16px
	.newsList
		height: 140px;
		width: 240px;
		float: left;
		font-size 14px
		cursor: pointer
		ul li
			margin-top 4px
			text-align left
			a
				color #fff

			.listTitle
				display inline-block
				width 150px
				height 20px
				overflow hidden
			.listTitle:hover
					text-decoration underline

			.listDate
				display inline-block
				float right
				font-size 12px
.joinUs
	width 100%
	height 180px
	color #fff
	padding 0 10px
	.joinUsTitle
		height 40px
		line-height 40px
		text-align left
		width 180px
		font-size 16px
		color #E6B06E
	.joinUsIntroduction
		height 80px
		text-align left
		font-size 14px
	.hotTelphone
		color #E6B06E
		font-size 16px
		text-align left
.videoFrame
	position absolute
	top 100px
	left 0
	height 500px
	width 520px
	margin 0 auto
.news-wrap
	position absolute
	top 0
	left 0
	height 500px
	width 500px
	margin 0 auto
.news-main
	position fixed
	z-index 9999
	left 20%
	top 30px
	width 800px
	background #fff
	max-height 650px
	overflow-y scroll
	display block
.news-wrap-mask
	position fixed
	width 100%
	height 100%
	z-index 9998
	left 0
	right 0
	top 0
	bottom 0
	opacity 0.3
	background #000
.close-btn
	position fixed
	z-index 9999
	left 20%
	top 0
	height 30px
	width 30px
	color #fff
	background rgb(139,126,1)
	font-size 20px
	cursor pointer
.news-wrap
	position absolute
	top 0
	left 0
	height 500px
	width 500px
	margin 0 auto
.news-main {
  position fixed
  z-index 9999
  left 20%
  top 30px
  width 800px
  background #fff
  max-height 650px
  overflow-y scroll
  display block
  font-size 14px
  text-align left
  line-height 36px
  padding 20px
}
.content-title{
  text-align center
  font-size 16px
  color rgb(79,98,40)
  font-weight bold
}
.content-title-time{
  text-align center
  font-size 12px
}
.content-detail-img{
  text-align center
}
.content-detail-erimg{
  text-align center
  color #348024
  font-size 16px
  font-weight bold
}