.content
	height 660px
	min-width 1080px
	overflow-y hidden
.contentWrap
	margin-top 480px
.contentDiv
	img
		width 100%
		height 180px
.productInfo,.news,.joinUs
	width 100%
	height 180px
	background-color: #fff
.contentNews,.contentProduct,.contentJoin
	width 100%
	height 360px
	position: absolute