.content
	height 660px
	min-width 1080px
	overflow-y hidden
.contentWrap
	margin-top 480px
.contentDiv
	width 260px
	height 180px
	float left
	margin 0 5px
	/*margin-top 480px*/
	background-color: #006039
	opacity 0.5

