<div class="fc-content-wrap" >
    <!--<div class="fc-content-arrow-wrap">-->
        <!--<div class="fc-content-arrow">-->
            <!--<div class="arrow-left"><img src="/App/image/view/diaofashishang/left.png" alt=""/></div>-->
            <!--<div class="arrow-right"><img src="/App/image/view/diaofashishang/right.png" alt=""/></div>-->
        <!--</div>-->
    <!--</div>-->
    <div class="fc-content active" data-index="1">
        <div class="fc-content-left">
            <div class="fc-content-left-wrap">
                <div class="fc-left-up content-detail" data-content-id="leftUp">
                    <div class="fc-word-mask"></div>
                    <div class="fc-words">美主播诠释时尚，魅力化身雕发女神！</div>
                    <img src="/App/image/view/diaofashishang/diaofafengchao_01.jpg" alt="" width="100%" height="100%"/>
                </div>
                <div class="fc-left-dleft content-detail" data-content-id="leftDL">
                    <div class="fc-word-mask"></div>
                    <div class="fc-words">他们真的雕了吗？</div>
                    <img src="/App/image/view/diaofashishang/diaofafengchao_03.jpg" alt="" width="100%" height="100%"/>
                </div>
                <div class="fc-left-dright content-detail" data-content-id="leftDR">
                    <div class="fc-word-mask"></div>
                    <div class="fc-words">【明星解密】赵默笙的百变发型是如何炼成的？</div>
                    <img src="/App/image/view/diaofashishang/diaofafengchao_04.jpg" alt="" width="100%" height="100%"/>
                </div>
            </div>
        </div>
        <div class="fc-content-right">
            <div class="fc-content-right-wrap content-detail"  data-content-id="rightUp">
                <div class="fc-word-mask"></div>
                <div class="fc-words">【明星百变秘密】揭秘范冰冰一直想隐瞒的真相！</div>
                <img src="/App/image/view/diaofashishang/diaofafengchao_02.jpg" alt="" width="100%" height="100%"/>
            </div>
        </div>
    </div>
    <div class="fc-content" data-index="2">
        <div class="fc-content-left">
            <div class="fc-content-left-wrap">
                <div class="fc-left-up content-detail" data-content-id="12">
                    <div class="fc-word-mask"></div>
                    <div class="fc-words">2戴丝诺戴丝诺戴丝诺戴丝诺戴丝诺戴丝诺戴丝诺戴丝诺戴丝诺戴丝诺戴丝诺戴丝诺戴丝诺戴丝诺戴丝诺戴丝诺戴丝诺戴丝诺戴丝诺戴丝诺戴丝诺戴丝诺戴丝诺戴丝诺</div>
                    <img src="/App/image/view/diaofashishang/diaofafengchao_01.jpg" alt="" width="100%" height="100%"/>
                </div>
                <div class="fc-left-dleft content-detail" data-content-id="12">
                    <div class="fc-word-mask"></div>
                    <div class="fc-words">2戴丝诺戴丝诺戴丝诺戴丝诺戴丝诺戴丝诺戴丝诺戴丝诺戴丝诺戴丝诺戴丝诺戴丝诺戴丝诺戴丝诺戴丝诺戴丝诺戴丝诺戴丝诺戴丝诺戴丝诺戴丝诺戴丝诺戴丝诺戴丝诺</div>
                    <img src="/App/image/view/diaofashishang/diaofafengchao_03.jpg" alt="" width="100%" height="100%"/>
                </div>
                <div class="fc-left-dright content-detail" data-content-id="12">
                    <div class="fc-word-mask"></div>
                    <div class="fc-words">2戴丝诺戴丝诺戴丝诺戴丝诺戴丝诺戴丝诺戴丝诺戴丝诺戴丝诺戴丝诺戴丝诺戴丝诺戴丝诺戴丝诺戴丝诺戴丝诺戴丝诺戴丝诺戴丝诺戴丝诺戴丝诺戴丝诺戴丝诺戴丝诺</div>
                    <img src="/App/image/view/diaofashishang/diaofafengchao_04.jpg" alt="" width="100%" height="100%"/>
                </div>
            </div>
        </div>
        <div class="fc-content-right">
            <div class="fc-content-right-wrap content-detail" data-content-id="12">
                <div class="fc-word-mask"></div>
                <div class="fc-words">2戴丝诺戴丝诺戴丝诺戴丝诺戴丝诺戴丝诺戴丝诺戴丝诺戴丝诺戴丝诺戴丝诺戴丝诺戴丝诺戴丝诺戴丝诺戴丝诺戴丝诺戴丝诺戴丝诺戴丝诺戴丝诺戴丝诺戴丝诺戴丝诺</div>
                <img src="/App/image/view/diaofashishang/diaofafengchao_02.jpg" alt="" width="100%" height="100%"/>
            </div>
        </div>
    </div>
    <div class="fc-content" data-index="3">
        <div class="fc-content-left">
            <div class="fc-content-left-wrap">
                <div class="fc-left-up content-detail" data-content-id="12">
                    <div class="fc-word-mask"></div>
                    <div class="fc-words">3戴丝诺戴丝诺戴丝诺戴丝诺戴丝诺戴丝诺戴丝诺戴丝诺戴丝诺戴丝诺戴丝诺戴丝诺戴丝诺戴丝诺戴丝诺戴丝诺戴丝诺戴丝诺戴丝诺戴丝诺戴丝诺戴丝诺戴丝诺戴丝诺</div>
                    <img src="/App/image/view/diaofashishang/diaofafengchao_01.jpg" alt="" width="100%" height="100%"/>
                </div>
                <div class="fc-left-dleft content-detail" data-content-id="12">
                    <div class="fc-word-mask"></div>
                    <div class="fc-words">3戴丝诺戴丝诺戴丝诺戴丝诺戴丝诺戴丝诺戴丝诺戴丝诺戴丝诺戴丝诺戴丝诺戴丝诺戴丝诺戴丝诺戴丝诺戴丝诺戴丝诺戴丝诺戴丝诺戴丝诺戴丝诺戴丝诺戴丝诺戴丝诺</div>
                    <img src="/App/image/view/diaofashishang/diaofafengchao_02.jpg" alt="" width="100%" height="100%"/>
                </div>
                <div class="fc-left-dright content-detail" data-content-id="12">
                    <div class="fc-word-mask"></div>
                    <div class="fc-words">3戴丝诺戴丝诺戴丝诺戴丝诺戴丝诺戴丝诺戴丝诺戴丝诺戴丝诺戴丝诺戴丝诺戴丝诺戴丝诺戴丝诺戴丝诺戴丝诺戴丝诺戴丝诺戴丝诺戴丝诺戴丝诺戴丝诺戴丝诺戴丝诺</div>
                    <img src="/App/image/view/diaofashishang/diaofafengchao_04.jpg" alt="" width="100%" height="100%"/>
                </div>
            </div>
        </div>
        <div class="fc-content-right">
            <div class="fc-content-right-wrap content-detail" data-content-id="12">
                <div class="fc-word-mask"></div>
                <div class="fc-words">3戴丝诺戴丝诺戴丝诺戴丝诺戴丝诺戴丝诺戴丝诺戴丝诺戴丝诺戴丝诺戴丝诺戴丝诺戴丝诺戴丝诺戴丝诺戴丝诺戴丝诺戴丝诺戴丝诺戴丝诺戴丝诺戴丝诺戴丝诺戴丝诺</div>
                <img src="/App/image/view/diaofashishang/diaofafengchao_02.jpg" alt="" width="100%" height="100%"/>
            </div>
        </div>
    </div>
</div>
