<div class="news-wrap">
    <div class="news-main-wrap">
        <div class="close-btn">X</div>
        <div class="news-main">
            <div class="content-title">美主播诠释时尚，魅力化身雕发女神！</div>
            <br/>&nbsp;&nbsp;&nbsp;&nbsp;
            近日，有一件事让小编激动兴奋不已，因为戴丝诺3D雕发中心迎来了一位贵宾，乌克兰美女安娜，用异国的美诠释了雕发不一样的魅力！
            <br/>&nbsp;&nbsp;&nbsp;&nbsp;

             <div class="content-detail-img"><img src="/App/image/view/diaofashishang/diaofafengchao_11.png" alt=""/></div>
            <br/>&nbsp;&nbsp;&nbsp;&nbsp;

             <div class="content-detail-img"><img src="/App/image/view/diaofashishang/diaofafengchao_12.png" alt=""/></div>
            <br/>&nbsp;&nbsp;&nbsp;&nbsp;

             <div class="content-detail-img"><img src="/App/image/view/diaofashishang/diaofafengchao_13.png" alt=""/></div>
            <br/>&nbsp;&nbsp;&nbsp;&nbsp;
            关注香港卫视的亲们都知道，里边有位异国美女主播，金发碧眼，面带微笑，直播节目时说着流利的中文，从容不迫。喜欢她的节目，更喜欢这位来自美丽的乌克兰女生安娜。
            <br/>&nbsp;&nbsp;&nbsp;&nbsp;
             <div class="content-detail-img"><img src="/App/image/view/diaofashishang/diaofafengchao_14.png" alt=""/></div>
            <br/>&nbsp;&nbsp;&nbsp;&nbsp;
            她时而文静，时而俏皮，时而优雅，时而可爱。
            <br/>&nbsp;&nbsp;&nbsp;&nbsp;
             <div class="content-detail-img"><img src="/App/image/view/diaofashishang/diaofafengchao_15.png" alt=""/></div>
            <br/>&nbsp;&nbsp;&nbsp;&nbsp;

             <div class="content-detail-img"><img src="/App/image/view/diaofashishang/diaofafengchao_16.png" alt=""/></div>
            <br/>&nbsp;&nbsp;&nbsp;&nbsp;

             <div class="content-detail-img"><img src="/App/image/view/diaofashishang/diaofafengchao_17.png" alt=""/></div>
            <br/>&nbsp;&nbsp;&nbsp;&nbsp;
            说着一口比香港人还要流利的中文是她的本事，而钟爱时尚，是她的本色！安娜一直以来关注雕发，新时代的技术应该是用最健康的方式延续美丽。药水染过的头发，夹板烫过的发梢，是美丽的代价。
            <br/>&nbsp;&nbsp;&nbsp;&nbsp;
            其实，美丽不应该有代价，安娜亲身实践告诉你，雕发可以让你美的健康，美的自然！
            时尚也绝不是随波逐流，今年的流行款不一定适合你，你应该去寻觅最适合你的造型！
            设计并制作最贴合你的雕发，是戴丝诺的的承诺！
            <br/>&nbsp;&nbsp;&nbsp;&nbsp;
            雕发女神安娜，给你最好的诠释，戴丝诺，成人之美！
            <br/>&nbsp;&nbsp;&nbsp;&nbsp;
             <div class="content-detail-img"><img src="/App/image/view/diaofashishang/diaofafengchao_18.png" alt=""/></div>
            <br/>&nbsp;&nbsp;&nbsp;&nbsp;

             <div class="content-detail-img"><img src="/App/image/view/diaofashishang/diaofafengchao_19.png" alt=""/></div>
            <br/>&nbsp;&nbsp;&nbsp;&nbsp;

             <div class="content-detail-img"><img src="/App/image/view/diaofashishang/diaofafengchao_110.png" alt=""/></div>
            <br/>&nbsp;&nbsp;&nbsp;&nbsp;

             <div class="content-detail-img"><img src="/App/image/view/diaofashishang/diaofafengchao_111.png" alt=""/></div>

            <br/>&nbsp;&nbsp;&nbsp;&nbsp;
            安娜简介：
            <br/>&nbsp;&nbsp;&nbsp;&nbsp;
            安娜，来自美丽中欧国家乌克兰，毕业于基辅国立语言大学东方语言系中文与国外文学专业，就读北京服装学院深圳分校。性格热情开朗，外表靓丽优雅的安娜喜爱时尚、舞蹈、各类美术。安娜来到香港卫视以来，着重于访谈类节目，并在全国各地亮相数不胜数的高端社会活动。在工作和学习当中，安娜是名副其实的完美主义者。
            <br/>&nbsp;&nbsp;&nbsp;&nbsp;

        </div>
    </div>
    <div class="news-wrap-mask">

    </div>
</div>