
<div class="news-wrap">
    <div class="news-main-wrap">
        <div class="close-btn">X</div>
        <div class="news-main">
            <br/>&nbsp;&nbsp;&nbsp;&nbsp;减龄秘诀，2015跟闺蜜们一起萌萌哒~
            <br/>&nbsp;&nbsp;&nbsp;&nbsp;【长脸女生看过来~】
            <br/>&nbsp;&nbsp;&nbsp;&nbsp;长脸的女生一般都地拥有高挑的身材,现在我们就一起来了解一下适合长脸女生的短发发型吧，这些发型对于长脸的女生来说是特别有气质的，如果你是一个长脸的女生一定要好好看看这4款模特的长脸短发发型哦。


            <br/>&nbsp;&nbsp;&nbsp;&nbsp;杨丞琳的下巴是比较尖的，选择的一款偏分式刘海的短发发型，染上棕栗色的发色，看起来特别的可爱。这款中分的时尚短发，配上精致潮感十足的妆容，更显娇俏摩登。


            <br/>&nbsp;&nbsp;&nbsp;&nbsp;这是一位可爱的长脸的女生，女生长着可爱的深酒窝，直直的一款波波头短发发型，看起来女生特别的萌系可爱。配上优雅系的裸妆，打造出完美的小长脸美女形象。


            <br/>&nbsp;&nbsp;&nbsp;&nbsp;这是一位长脸的女生，选择了一款偏分式刘海的短发卷发发型，看起来是特别的时尚，显得女生特别的有气质。这款蓬松感十足的发型，整体衬托的小长脸更显上镜。


            <br/>&nbsp;&nbsp;&nbsp;&nbsp;小长脸相对整体脸部轮廓略长一点，可以通过选择发型来起到修饰的作用，这款斜刘海的女生短发波波头卷发设计，内扣的发尾有很好的修颜效果。

            <br/>&nbsp;&nbsp;&nbsp;&nbsp;【圆脸女生别错过~】
            <br/>&nbsp;&nbsp;&nbsp;&nbsp;圆脸的女生，看起来脸部圆嘟嘟的，如果你是一个标准圆脸短发弄什么发型好看？如果圆脸的女生不作出好看的发型，这样看起来就不好看。
            <br/>&nbsp;&nbsp;&nbsp;&nbsp;对于胖胖的圆脸的女孩子来说一个适合自己的发型至关重要，虽然很多人看到胖MM都会说十分的可爱，但是实际上很多人还是希望自己看起来显瘦一些，下面我们就一起来看一下适合女生的圆脸短发发型图片吧。

            <br/>&nbsp;&nbsp;&nbsp;&nbsp;圆脸的女生虽然看起来比较可爱，但是五官却显得不够精致也不够立体，这款圆脸短发女生发型非常的不错。这是一圆脸的女生，选择的是一款齐刘海风格的韩式短发发型，看起来特别的简约，OL也很清爽干练。


            <br/>&nbsp;&nbsp;&nbsp;&nbsp;适合圆脸的短发发型：这是一位圆脸的女生，选择的是一款偏分式短发发型，头发有点小卷，看起来是一款不错的荷叶头发型，有很好的包脸瘦脸效果。荐甜美气质与显嫩气质相结合的发型，短发一样so easy，妹子们赶快看过来哦！


            <br/>&nbsp;&nbsp;&nbsp;&nbsp;黑色的波波头有没有不一样的感觉呢？齐耳的长度非常有文艺范和森女范，齐刘海打造出好看的弧度感，安静中不失美感！清纯感是每个时代都不会过期的美丽，自然黑发柔顺丝滑，齐刘海增添美好，明眸笑靥间俏丽多姿，当之无愧的校园女神！

            <br/>&nbsp;&nbsp;&nbsp;&nbsp;【经典萌萌哒系蘑菇头】
            <br/>&nbsp;&nbsp;&nbsp;&nbsp;圆圆的脸，圆圆的蘑菇头，到处都是圆圆的，是不是给人一种很可爱的很圆很萌的感觉？如果你希望自己成为可爱的萌萌的美女，那么你可以选择一款可爱的蘑菇头发型，蘑菇头发型能帮助你实现这个心愿，让圆圆的造型给你萌的感觉，更给你一种小清新的美感！
            <br/>&nbsp;&nbsp;&nbsp;&nbsp;蘑菇头是经典萌系女生短发发型之一，可以让很多中性女生立即变得可爱甜美，圆蓬厚重的蘑菇头发型质感，大显减龄功效。今天，小编带来五款蘑菇头发型，快速领略到发丝的魅力吧！


            <br/>&nbsp;&nbsp;&nbsp;&nbsp;一款经典的蘑菇头女生短发发型。说到复古造型，还是黑发搭配蘑菇头更有复古的韵味。将头发烫出弧形效果，搭配内扣式的烫发后，尽显清新范儿，尤其适合森女控或文艺女青年。这款碎发发型，帮助女生修饰脸型，又衬出淑女气质，这一季就选TA了!


            <br/>&nbsp;&nbsp;&nbsp;&nbsp;今年流行短发发型，小清新的蘑菇头短发，搭配内扣头发处理，勾勒出精致的五官与小脸庞，斜刘海凸显女生可爱风。甜甜的可爱蘑菇头短发，是今年很流行的发型之一，柔顺的发丝，衬出女生俏皮感，嘟嘟嘴尽展鬼马精灵的感觉哦。小清新的短发造型，瞬间提升整款发型的时髦感，不失为一款好看修颜的女生发型。现在，轻松变身摩登女郎!



            <br/>&nbsp;&nbsp;&nbsp;&nbsp;这款蘑菇头采用了厚厚的刘海设计，将顺直的头发修剪出浑圆的弧度，图中的这款蘑菇头也是最常见的，稍微内卷的弧度能够很好的修饰头型，看起来更加时尚又活泼。款短发蘑菇头采用了稍微凌乱的设计，从侧面看起来更加淑女有气质，轻松自然的刘海衬托出精致的五官，棕色系的染发更显肤色白。


            <br/>&nbsp;&nbsp;&nbsp;&nbsp;齐刘海蘑菇头发型：这款蘑菇头正是因为看起来有点凌乱才有个性，显得自然不做作。齐刘海的设计能够很好的修饰脸型，蓬松的内卷弧度显得更加精致小巧可爱哦。这款甜美的蘑菇头采用了斜刘海的设计，凸显出女生的甜美气质，一侧的头发别在耳后看起来更加有女人味，配合棕色的染发，魅力十足。

            <br/>&nbsp;&nbsp;&nbsp;&nbsp;【短直发，简约而不简单】
            <br/>&nbsp;&nbsp;&nbsp;&nbsp;长长的直发会让你感觉比较的沉闷，现在不如换一下短直发这样的风格，今天小编就来介绍几款最新短直发发型，彰显简约时尚的气质。
            <br/>&nbsp;&nbsp;&nbsp;&nbsp;女生短发一直都是引领潮流的，清爽又简单的短发最适合夏季拥有。下面跟随小编一起来看看2015女生短直发发型，选一款适合你的发型。

            <br/>&nbsp;&nbsp;&nbsp;&nbsp;同样是不对称的短发设计，展现出个性干练的一面，偏分的长刘海，轻松修颜，而且提升了气质感，搭配酒红色的染发，瞬间提亮mm的肤色，凸显出几分甜美气息。


            <br/>&nbsp;&nbsp;&nbsp;&nbsp;中分的短直发设计，搭配棕黄色的染发，呈现出时尚的柑感觉，同时也达到了修颜的功效，将一侧的头发撩在耳后，展现出十足的女人味。


            <br/>&nbsp;&nbsp;&nbsp;&nbsp;这款纯黑的短直发，是学校妹子比较偏爱的，齐刘海的设计，展现出mm甜美可爱的一面，同时也达到了修颜的效果，散发出青春活力的气息。


        </div>
    </div>
    <div class="news-wrap-mask">

    </div>
</div>