
<div class="news-wrap">
    <div class="news-main-wrap">
        <div class="close-btn">X</div>
        <div class="news-main">
            <br/>&nbsp;&nbsp;&nbsp;&nbsp;【美发秘籍】你知道自己最适合哪种头发颜色吗？
            <br/>&nbsp;&nbsp;&nbsp;&nbsp;来源：挑款师
            <br/>&nbsp;&nbsp;&nbsp;&nbsp;你知道哪种染发颜色最适合你吗？其实，你的脸形、肤色、唇色和双眸，都决定了你适合哪种头发颜色，现在就来测试看看哪种发色适合你吧。
            <br/>&nbsp;&nbsp;&nbsp;&nbsp;第1题：肌肤的颜色接近于G还是P?

            <br/>&nbsp;&nbsp;&nbsp;&nbsp;第2题：嘴唇的颜色接近于G还是P?

            <br/>&nbsp;&nbsp;&nbsp;&nbsp;第3题：眼睛的颜色接近于G还是P?

            <br/>&nbsp;&nbsp;&nbsp;&nbsp;第4题：骨骼轮廓属于何种类型A还是B?

            <br/>&nbsp;&nbsp;&nbsp;&nbsp;第5题：鼻子的形状是A还是B?

            <br/>&nbsp;&nbsp;&nbsp;&nbsp;第6题：眼睛的形状是A还是B?

            <br/>&nbsp;&nbsp;&nbsp;&nbsp;测试结果：

            <br/>&nbsp;&nbsp;&nbsp;&nbsp;TYPE 1：BP较多
            <br/>&nbsp;&nbsp;&nbsp;&nbsp;特征：肤色较白，脸形偏瓜子脸
            <br/>&nbsp;&nbsp;&nbsp;&nbsp;适合妆容：柔和、自然的裸妆。
            <br/>&nbsp;&nbsp;&nbsp;&nbsp;适合发色：暗灰色系
            <br/>&nbsp;&nbsp;&nbsp;&nbsp;TYPE2：AP较多
            <br/>&nbsp;&nbsp;&nbsp;&nbsp;特征：肤色较白，脸形偏国字脸
            <br/>&nbsp;&nbsp;&nbsp;&nbsp;适合妆容：精致、强调轮廓感的妆容。
            <br/>&nbsp;&nbsp;&nbsp;&nbsp;适合发色：暖红色系
            <br/>&nbsp;&nbsp;&nbsp;&nbsp;TYPE3：BG较多
            <br/>&nbsp;&nbsp;&nbsp;&nbsp;特征：肤色较黄，脸形偏瓜子脸
            <br/>&nbsp;&nbsp;&nbsp;&nbsp;适合妆容：轻盈透光的年轻妆容。
            <br/>&nbsp;&nbsp;&nbsp;&nbsp;适合发色：亚麻色系
            <br/>&nbsp;&nbsp;&nbsp;&nbsp;TYPE4：AG较多
            <br/>&nbsp;&nbsp;&nbsp;&nbsp;特征：肤色较黄，脸形偏国字脸
            <br/>&nbsp;&nbsp;&nbsp;&nbsp;适合妆容：澄澈、温和的成熟妆系。
            <br/>&nbsp;&nbsp;&nbsp;&nbsp;适合发色：冷棕色系

            <br/>&nbsp;&nbsp;&nbsp;&nbsp;来源：挑款师


        </div>
    </div>
    <div class="news-wrap-mask">

    </div>
</div>