
<div class="news-wrap">
    <div class="news-main-wrap">
        <div class="close-btn">X</div>
        <div class="news-main">
            <br/>&nbsp;&nbsp;&nbsp;&nbsp;<div class="content-title">男人眼中的素颜 vs 女人眼中的素颜</div>
            <br/>&nbsp;&nbsp;&nbsp;&nbsp;首先，永远不要相信男人告诉你“不要化妆，我觉得女生清清淡淡的素颜就最美”。你以为他们能分辨得出来裸妆和素颜？他们喜欢长得漂亮的和胸大的，所以你随意就好。不信请参见信誓旦旦说“不会找嫩模”的国民老公的两任女友。
            <div class="content-detail-img"><img src="/App/image/view/diaofashishang/zhiganzhuangrong_21.png" alt=""/></div>

            <br/>&nbsp;&nbsp;&nbsp;&nbsp;但是，如果只在脸上画3处妆容，就能骗过男票那双瞎眼，让他称赞你“清水出芙蓉”，这是完全有可能的事情！
            <br/>&nbsp;&nbsp;&nbsp;&nbsp;女生眼中的素颜——>淡妆——>浓妆
            <div class="content-detail-img"><img src="/App/image/view/diaofashishang/zhiganzhuangrong_22.png" alt=""/></div>

            <br/>&nbsp;&nbsp;&nbsp;&nbsp;男生眼中的素颜——>淡妆——>浓妆
            <div class="content-detail-img"><img src="/App/image/view/diaofashishang/zhiganzhuangrong_23.png" alt=""/></div>

            <br/>&nbsp;&nbsp;&nbsp;&nbsp;但真相是：这些图里，木有一个是素颜！！
            <br/>&nbsp;&nbsp;&nbsp;&nbsp;所以就以最接近素颜的第一张图为例。当初小王同学就是凭借这个跳水真人秀荣登“素颜女王”的宝座。但事实上，从下图我们还是可以比较清晰地看出，她还是偷偷摸摸地妆了三处：粉底、眉毛和内眼线！所以以后恳请各位男士，炫耀女神美丽的时候一定要留神，不要轻易无限向往地说出“某某素颜也很美”这种令老实妹纸心碎的话。
            <div class="content-detail-img"><img src="/App/image/view/diaofashishang/zhiganzhuangrong_24.png" alt=""/></div>

            <br/>&nbsp;&nbsp;&nbsp;&nbsp;接下来就是小城出马，为各位美女们献计啦~~~
            <br/>&nbsp;&nbsp;&nbsp;&nbsp;妆容隐形第一步：粉底+遮瑕
            <br/>&nbsp;&nbsp;&nbsp;&nbsp;妆感：10%
            <br/>&nbsp;&nbsp;&nbsp;&nbsp;投票得票率：38%
            <br/>&nbsp;&nbsp;&nbsp;&nbsp;代表女星：全智贤、宋智孝
            <br/>&nbsp;&nbsp;&nbsp;&nbsp;说起“伪素颜”底妆，首先就想到了那些年我们一起追的《星你》里，二千以早起几个小时为代价，换来“今天太匆忙没来得及化妆”这个经典桥段。所以那些脸和脖子都不一样颜色的low货们可以跪安了，长得美又有心机甩你十八条街的全女神，简直分分钟教你做人！
            <div class="content-detail-img"><img src="/App/image/view/diaofashishang/zhiganzhuangrong_25.png" alt=""/></div>

            <br/>&nbsp;&nbsp;&nbsp;&nbsp;讲真，精致不浮夸的底妆，是任何女生彩妆入门最重要的一课！它可以瞬间提升气色、遮盖瑕疵，而且选对产品和手法，妆感几近素颜，简直一本万利。
            <div class="content-detail-img"><img src="/App/image/view/diaofashishang/zhiganzhuangrong_26.png" alt=""/></div>

            <br/>&nbsp;&nbsp;&nbsp;&nbsp;Please DO
            <br/>&nbsp;&nbsp;&nbsp;&nbsp;1、在日常妆容中，无暇和清透比起来，永远选择后者；
            <br/>&nbsp;&nbsp;&nbsp;&nbsp;2、如果冬天底妆容易干燥卡粉，可以提前在粉底液中加入保湿霜或者精华液用棉签混合好。
            <br/>&nbsp;&nbsp;&nbsp;&nbsp;3、把柔肤水用小喷瓶喷在化妆海绵上或脸部，再用海绵按压轻拍上妆，妆效会是“从肌底自然透出的好气色”。
            <br/>&nbsp;&nbsp;&nbsp;&nbsp;4、看似懒人最爱的“裸妆底妆”其实对皮肤底子的要求最高。也就是说，那些持之以恒保养皮肤，避免日晒、做好抗氧化，干性皮肤做好保湿油性皮肤做好控油混合性皮肤做好分区护理……的妹子，才能真正享受裸妆带来的便利和姓胡。真相也是有点残忍呢……
            <br/>&nbsp;&nbsp;&nbsp;&nbsp;妆容隐形第二步：画眉
            <br/>&nbsp;&nbsp;&nbsp;&nbsp;妆感：30%
            <br/>&nbsp;&nbsp;&nbsp;&nbsp;投票得票率：25%
            <br/>&nbsp;&nbsp;&nbsp;&nbsp;代表女星：朴信惠
            <br/>&nbsp;&nbsp;&nbsp;&nbsp;最近让小编有种被“不是素颜胜似素颜”的妆容击倒的，是韩剧《匹诺曹》里的朴信惠mm。尽管给她在玛丽苏韩剧中的小白兔形象送过无数白眼，但这部剧中自带表情包的她简直可爱的！冒！泡！
            <div class="content-detail-img"><img src="/App/image/view/diaofashishang/zhiganzhuangrong_27.png" alt=""/></div>

            <br/>&nbsp;&nbsp;&nbsp;&nbsp;自然又纯真的粗眉简直颜艺满分有木有！
            <br/>&nbsp;&nbsp;&nbsp;&nbsp;所以如果想做一个充满精致感的少女，请别再用厚厚的刘海把眉毛遮上了。真的不好看呢亲。
            <div class="content-detail-img"><img src="/App/image/view/diaofashishang/zhiganzhuangrong_28.png" alt=""/></div>

            <br/>&nbsp;&nbsp;&nbsp;&nbsp;Please DO
            <br/>&nbsp;&nbsp;&nbsp;&nbsp;1、要想画眉好上手，美妆够自然，首先你得修得一手好眉。对于眉毛天生就比较浓密的幸运儿来说，哪怕不用再画眉只需要用眉粉淡淡一扫，就可以做到素颜美女的朦胧感。
            <br/>&nbsp;&nbsp;&nbsp;&nbsp;如果本身眉毛比较稀疏，让下面这个gif能帮你一秒掌握画眉技能不是梦：
            <div class="content-detail-img"><img src="/App/image/view/diaofashishang/zhiganzhuangrong_29.png" alt=""/></div>

            <br/>&nbsp;&nbsp;&nbsp;&nbsp;2、眉色发色一致看起来才自然。不要在选购美妆产品时再纠结什么“自然黑”“咖啡棕”了，揪起头上一簇儿毛，那就是属于你的那款眉色！
            <div class="content-detail-img"><img src="/App/image/view/diaofashishang/zhiganzhuangrong_210.png" alt=""/></div>

            <br/>&nbsp;&nbsp;&nbsp;&nbsp;妆容隐形第三步：内眼线
            <br/>&nbsp;&nbsp;&nbsp;&nbsp;妆感：50%
            <br/>&nbsp;&nbsp;&nbsp;&nbsp;投票得票率：10%
            <br/>&nbsp;&nbsp;&nbsp;&nbsp;代表女星：宋慧乔
            <div class="content-detail-img"><img src="/App/image/view/diaofashishang/zhiganzhuangrong_211.png" alt=""/></div>

            <br/>&nbsp;&nbsp;&nbsp;&nbsp;为什么说韩剧看看就得？《那年冬天风在吹》里，的宋慧乔还画着这么精致的裸妆——尤其是那么心机爆表的内眼线，你怎么能相信她是个盲人？！是要我们这些手残星人羞愧自刎吗？？
            <div class="content-detail-img"><img src="/App/image/view/diaofashishang/zhiganzhuangrong_212.png" alt=""/></div>

            <br/>&nbsp;&nbsp;&nbsp;&nbsp;Please DO
            <br/>&nbsp;&nbsp;&nbsp;&nbsp;1、所以内眼线具体画在哪呢？用手将眼皮抬起，你就能看到内眼线的“根据地”——睫毛根部所在的眼皮横截面。用眼线笔从眼头开始勾勒，细心地摩擦摩擦在光滑的眼皮摩擦直到填满睫毛的间隙，切记不要拉长眼线，才有“天生丽质难自弃”的feel
            <div class="content-detail-img"><img src="/App/image/view/diaofashishang/zhiganzhuangrong_213.png" alt=""/></div>



            <br/>&nbsp;&nbsp;&nbsp;&nbsp;文章来源：教你美十分



        </div>
    </div>
    <div class="news-wrap-mask">

    </div>
</div>