<div class="news-wrap">
    <div class="news-main-wrap">
        <div class="close-btn">X</div>
        <div class="news-main">
            <div class="content-title">他们真的雕了吗？</div>
            一名自称是专业雕发师的网友爆料：当红明星黄晓明、周杰伦、Rain的帅气发型都是通过『雕发』这一增发技术打造的。
            <br/>&nbsp;&nbsp;&nbsp;&nbsp;
            其实明星做『雕发』，早已经是公开的秘密，明星脱发几率大于常人，为了他们的演艺事业，做『雕发』成了趋势。
            <br/>&nbsp;&nbsp;&nbsp;&nbsp;
            <div class="content-detail-img"><img src="/App/image/view/diaofashishang/diaofafengchao_21.png" alt=""/></div>

            <br/>&nbsp;&nbsp;&nbsp;&nbsp;
            1雕发明星之宋丹丹
            <br/>&nbsp;&nbsp;&nbsp;&nbsp;
            宋丹丹年纪已经不小了，她把头发捋上去额头很高了，看起来也比较老。不化妆的她更是显得额头很高，整个头顶头发不多，有点弥漫稀疏。
            <br/>&nbsp;&nbsp;&nbsp;&nbsp;
            宋丹丹在《家有儿女》中为了扮演青年妈妈，已经做了雕发，效果不错。雕发后显得很年轻，这发际线和头发浓密度，单靠化妆可不行，雕发才是主因。
            <br/>&nbsp;&nbsp;&nbsp;&nbsp;
            虽然女子脱发比男子脱发几率小，但一旦脱发了，痛苦程度真的加倍，特别是爱把头发死命往后脑扎的大姐们。
            <br/>&nbsp;&nbsp;&nbsp;&nbsp;
            <div class="content-detail-img"><img src="/App/image/view/diaofashishang/diaofafengchao_22.png" alt=""/></div>

            <br/>&nbsp;&nbsp;&nbsp;&nbsp;
            <div class="content-detail-img"><img src="/App/image/view/diaofashishang/diaofafengchao_23.png" alt=""/></div>
            <br/>&nbsp;&nbsp;&nbsp;&nbsp;
            <div class="content-detail-img"><img src="/App/image/view/diaofashishang/diaofafengchao_24.png" alt=""/></div>

            <br/>&nbsp;&nbsp;&nbsp;&nbsp;
            <div class="content-detail-img"><img src="/App/image/view/diaofashishang/diaofafengchao_25.png" alt=""/></div>

            <br/>&nbsp;&nbsp;&nbsp;&nbsp;
            2雕发明星之——周杰伦
            <br/>&nbsp;&nbsp;&nbsp;&nbsp;
            周杰伦作为天才歌手，不仅歌写得好唱得好，雕发做得也是一流。大家完全可以从JAY身上，看到头发和发型对一个样貌普通的男生来说，起着多么巨大的作用。
            <br/>&nbsp;&nbsp;&nbsp;&nbsp;
            几年前的JAY，看起来并没有什么气质，甚至有点邋遢。很多明星脱发的传闻并非空穴来风，只是明星很有招数保护，要照到他们真正脱发严重的照片，恐怕很难。
            <br/>&nbsp;&nbsp;&nbsp;&nbsp;
            当然你也可以说，雕发是造型。现在的JAY，简直是酷酷小绅士的代表。有许多做雕发的男生都很喜欢以JAY的雕发样式做样本。确实做起来的效果也都比较好，毕竟JAY的头型是比较大众化的。
            <br/>&nbsp;&nbsp;&nbsp;&nbsp;
            <div class="content-detail-img"><img src="/App/image/view/diaofashishang/diaofafengchao_26.png" alt=""/></div>
            <br/>&nbsp;&nbsp;&nbsp;&nbsp;
            <div class="content-detail-img"><img src="/App/image/view/diaofashishang/diaofafengchao_27.png" alt=""/></div>
            <br/>&nbsp;&nbsp;&nbsp;&nbsp;
            <div class="content-detail-img"><img src="/App/image/view/diaofashishang/diaofafengchao_28.png" alt=""/></div>
            <br/>&nbsp;&nbsp;&nbsp;&nbsp;
            <div class="content-detail-img"><img src="/App/image/view/diaofashishang/diaofafengchao_29.png" alt=""/></div>
            <br/>&nbsp;&nbsp;&nbsp;&nbsp;
            3雕发明星之——黄晓明
            <br/>&nbsp;&nbsp;&nbsp;&nbsp;
            黄晓明号称“明教教主”，正是他那超帅超酷的雕发把他推上教主宝座的。例外的是，他做的是雕发还是植发？如果他在变换发型之前沉寂过约半年，那么恰好符合植发的时间。如果没有沉寂过，那十有八九是做雕发了。
            <br/>&nbsp;&nbsp;&nbsp;&nbsp;
            早期头发稀疏，短发或者看的更清楚，现实生活中也有这种头发变稀了，把头发理这么短的，但雕发后的，非常帅气，他的头发也是做得非常漂亮，肯定也是顶尖雕发高手弄出来的。花费也贵，毕竟是明星，形象比什么都重要。
            <br/>&nbsp;&nbsp;&nbsp;&nbsp;
            <div class="content-detail-img"><img src="/App/image/view/diaofashishang/diaofafengchao_210.png" alt=""/></div>

            <br/>&nbsp;&nbsp;&nbsp;&nbsp;
            <div class="content-detail-img"><img src="/App/image/view/diaofashishang/diaofafengchao_211.png" alt=""/></div>

            <br/>&nbsp;&nbsp;&nbsp;&nbsp;
            <div class="content-detail-img"><img src="/App/image/view/diaofashishang/diaofafengchao_212.png" alt=""/></div>

            <br/>&nbsp;&nbsp;&nbsp;&nbsp;
            <div class="content-detail-img"><img src="/App/image/view/diaofashishang/diaofafengchao_213.png" alt=""/></div>

            <br/>&nbsp;&nbsp;&nbsp;&nbsp;
            <br/>&nbsp;&nbsp;&nbsp;&nbsp;
            4雕发明星之——RAIN
            <br/>&nbsp;&nbsp;&nbsp;&nbsp;
            RAIN在《浪漫满屋》的时候，非常欣赏RAIN的可爱。也没怎么注意他脱发没有，印象中，那时候的RAIN留长发。
            <br/>&nbsp;&nbsp;&nbsp;&nbsp;
            后来被媒体说他脱发，还配了一些相片，确实额头偏高了。不过他的保密工作也做很好，韩国的整容很强（包括雕发），一些雕发技术也是韩国流传过来的，所以不能确定他是不是脱发，是不是有雕发。
            <br/>&nbsp;&nbsp;&nbsp;&nbsp;
            头发一分开，显得RAIN没有气质，可爱更是无从说起。为什么头发一分开，马上变味了呢？额头偏高的人应该知道学习了吧！
            <br/>&nbsp;&nbsp;&nbsp;&nbsp;
            <div class="content-detail-img"><img src="/App/image/view/diaofashishang/diaofafengchao_214.png" alt=""/></div>
            <br/>&nbsp;&nbsp;&nbsp;&nbsp;
            <div class="content-detail-img"><img src="/App/image/view/diaofashishang/diaofafengchao_215.png" alt=""/></div>
            <br/>&nbsp;&nbsp;&nbsp;&nbsp;
            <div class="content-detail-img"><img src="/App/image/view/diaofashishang/diaofafengchao_216.png" alt=""/></div>
            <br/>&nbsp;&nbsp;&nbsp;&nbsp;
            <div class="content-detail-img"><img src="/App/image/view/diaofashishang/diaofafengchao_217.png" alt=""/></div>
            <br/>&nbsp;&nbsp;&nbsp;&nbsp;
            【雕发，不仅让明星随性百变，也成为影视角色塑造的最新造型技术，突破演员自身头发长度和发量的限制，根据角色塑造需要，修剪出逼真效果，逐渐替代假发套，突破造型限制…成为颠覆想象的时尚秘笈！】
            <br/>&nbsp;&nbsp;&nbsp;&nbsp;
        </div>
    </div>
    <div class="news-wrap-mask">

    </div>
</div>