<div class="news-wrap">
    <div class="news-main-wrap">
        <div class="close-btn">X</div>
        <div class="news-main">
            <br/>&nbsp;&nbsp;&nbsp;&nbsp;
            <div class="content-title">【明星解密】赵默笙的百变发型是如何炼成的？</div>
            <br/>&nbsp;&nbsp;&nbsp;&nbsp;
             <div class="content-detail-img"><img src="/App/image/view/diaofashishang/diaofafengchao_31.png" alt=""/></div>
            <br/>&nbsp;&nbsp;&nbsp;&nbsp;
            热播剧《何以笙箫默》已经落幕，但是剧中男女主角的形象鲜明动人。
            <br/>&nbsp;&nbsp;&nbsp;&nbsp;
            十年修得柯景腾，百年修得王小贱，千年修得李大仁，万年修得何以琛。
            何以琛的一句“我不愿将就”，扰乱了你我那颗麻木安静的心。

            <br/>&nbsp;&nbsp;&nbsp;&nbsp;
             <div class="content-detail-img"><img src="/App/image/view/diaofashishang/diaofafengchao_32.png" alt=""/></div>

            <br/>&nbsp;&nbsp;&nbsp;&nbsp;
            唐嫣的百变造型，将赵默笙的短发形象深入人心。
            <br/>&nbsp;&nbsp;&nbsp;&nbsp;
            最近看到不少女生在网上搜索“赵默笙「雕发」同款”。
            但是，大家掀起「雕发」风潮能否戴得像糖糖那么自然呢？

            <br/>&nbsp;&nbsp;&nbsp;&nbsp;
             <div class="content-detail-img"><img src="/App/image/view/diaofashishang/diaofafengchao_33.png" alt=""/></div>

            <br/>&nbsp;&nbsp;&nbsp;&nbsp;
            小编解密：追寻赵默笙的短发造型是如何雕琢的？
            <br/>&nbsp;&nbsp;&nbsp;&nbsp;
            剧中赵默笙共有两款短发造型：一款是韩式刘海波波头，另一款是韩式斜刘海短短发。
            <br/>&nbsp;&nbsp;&nbsp;&nbsp;
            这两款造型都是根据唐嫣的脸型与剧中人物形象的气质，专门定制而成的「雕发」造型。
            <br/>&nbsp;&nbsp;&nbsp;&nbsp;
            1韩式刘海波波头
            <br/>&nbsp;&nbsp;&nbsp;&nbsp;
             <div class="content-detail-img"><img src="/App/image/view/diaofashishang/diaofafengchao_34.png" alt=""/></div>

            <br/>&nbsp;&nbsp;&nbsp;&nbsp;
             <div class="content-detail-img"><img src="/App/image/view/diaofashishang/diaofafengchao_35.png" alt=""/></div>

            <br/>&nbsp;&nbsp;&nbsp;&nbsp;
             <div class="content-detail-img"><img src="/App/image/view/diaofashishang/diaofafengchao_36.png" alt=""/></div>

            <br/>&nbsp;&nbsp;&nbsp;&nbsp;
            2韩式斜刘海短短发
            <br/>&nbsp;&nbsp;&nbsp;&nbsp;
             <div class="content-detail-img"><img src="/App/image/view/diaofashishang/diaofafengchao_37.png" alt=""/></div>

            <br/>&nbsp;&nbsp;&nbsp;&nbsp;
             <div class="content-detail-img"><img src="/App/image/view/diaofashishang/diaofafengchao_38.png" alt=""/></div>

            <br/>&nbsp;&nbsp;&nbsp;&nbsp;
             <div class="content-detail-img"><img src="/App/image/view/diaofashishang/diaofafengchao_39.png" alt=""/></div>

            <br/>&nbsp;&nbsp;&nbsp;&nbsp;
            3赵默笙造型炼成记
            <br/>&nbsp;&nbsp;&nbsp;&nbsp;
            |购置发丝——真发取材，更柔顺
            <br/>&nbsp;&nbsp;&nbsp;&nbsp;
             <div class="content-detail-img"><img src="/App/image/view/diaofashishang/diaofafengchao_310.png" alt=""/></div>
            <br/>&nbsp;&nbsp;&nbsp;&nbsp;
            |选取网料——私人定制，更服帖
            <br/>&nbsp;&nbsp;&nbsp;&nbsp;
             <div class="content-detail-img"><img src="/App/image/view/diaofashishang/diaofafengchao_311.png" alt=""/></div>
            <br/>&nbsp;&nbsp;&nbsp;&nbsp;
            |修剪上色——个性修剪，更适合
            <br/>&nbsp;&nbsp;&nbsp;&nbsp;
             <div class="content-detail-img"><img src="/App/image/view/diaofashishang/diaofafengchao_312.png" alt=""/></div>

            <br/>&nbsp;&nbsp;&nbsp;&nbsp;
            <br/>&nbsp;&nbsp;&nbsp;&nbsp;
            小编点评：「雕发」不是传统意义上的假发，是真正意义上的私人定制，价格在1880-6780区间不等。赵默笙的发型塑造之所以如此深得人心，就是因为采用了「雕发」定制技术，完全吻合自身头型，产生逼真的效果。经过精细雕琢的雕发演绎，赵默笙的百变短发造型，将唐嫣的时尚形象焕然新生，便也成就了何以琛的“不愿将就”。
            <br/>&nbsp;&nbsp;&nbsp;&nbsp;
        </div>
    </div>
    <div class="news-wrap-mask">

    </div>
</div>