    <div class="news-wrap">
    <div class="news-main-wrap">
        <div class="close-btn">X</div>
        <div class="news-main">
            <br/>&nbsp;&nbsp;&nbsp;&nbsp;
            <div class="content-title">【明星百变秘密】揭秘范冰冰一直想隐瞒的真相！</div>
            <br/>&nbsp;&nbsp;&nbsp;&nbsp;小编弱弱的问大家一句，一般亲们做一次头发要多几久？小编的情况是3-6个小时不等，做头发的过程可谓痛苦，耗费时间不说，不仅要顶着沉重的发夹，还要耐得住高温对自己头皮的“洗礼”，日后还要忍受发质渐渐变差的困扰。那问题就来了，对光鲜亮丽的明星来说，造型可谓百变时尚，像咱们的冰冰，一天三种发型都不是不可能，计算一下，如果冰冰要出席三个不同场合的活动，还三个发型，平均每个发型需要4个小时的制作时间，那么她一天就有12个小时在做头发，纳尼，绝对不可能，这个小小的计算结果出卖了她，她怎么做到的？原因其实只能一个—雕发。尝试过雕发的女性不少，今天小编给大家欣赏几位，看看这雕发的魅力，品味这健康的时尚之道。
            <br/>&nbsp;&nbsp;&nbsp;&nbsp;NO1.范冰冰
            <br/>&nbsp;&nbsp;&nbsp;&nbsp;∣齐刘海婉约短卷雕发，民国女子的婉约、端庄、魅力，被这个造型诠释的淋漓尽致。
            <br/>&nbsp;&nbsp;&nbsp;&nbsp;<div class="content-detail-img"><img src="/App/image/view/diaofashishang/diaofafengchao_41.png" alt=""/></div>

            <br/>&nbsp;&nbsp;&nbsp;&nbsp;∣时尚朋克短雕发，怎么也没法把范冰冰与朋克“坏女人”联系在一起，但是这款发型做到了。
            <br/>&nbsp;&nbsp;&nbsp;&nbsp;<div class="content-detail-img"><img src="/App/image/view/diaofashishang/diaofafengchao_42.png" alt=""/></div>

            <br/>&nbsp;&nbsp;&nbsp;&nbsp;∣铜钱发片雕发，如果民国大上海的女歌星都有冰冰那么妖娆和妩媚，那时代的男人就太幸福了。
            <br/>&nbsp;&nbsp;&nbsp;&nbsp;<div class="content-detail-img"><img src="/App/image/view/diaofashishang/diaofafengchao_43.png" alt=""/></div>

            <br/>&nbsp;&nbsp;&nbsp;&nbsp;∣夜店妩媚长卷雕发 ，卷发看似厚重累赘，但是这立体的形象堆砌的美感无可挑剔。
            <br/>&nbsp;&nbsp;&nbsp;&nbsp;<div class="content-detail-img"><img src="/App/image/view/diaofashishang/diaofafengchao_44.png" alt=""/></div>

            <br/>&nbsp;&nbsp;&nbsp;&nbsp;∣欧美范斜刘海短雕发，混国际时尚圈，这样一款雕发造型必不可少。
            <br/>&nbsp;&nbsp;&nbsp;&nbsp;<div class="content-detail-img"><img src="/App/image/view/diaofashishang/diaofafengchao_45.png" alt=""/></div>

            <br/>&nbsp;&nbsp;&nbsp;&nbsp;∣斜刘海梨花头短雕发，短发女人性感可爱，天使化身。
            <br/>&nbsp;&nbsp;&nbsp;&nbsp;<div class="content-detail-img"><img src="/App/image/view/diaofashishang/diaofafengchao_46.png" alt=""/></div>

            <br/>&nbsp;&nbsp;&nbsp;&nbsp;NO2.宋慧乔
            <br/>&nbsp;&nbsp;&nbsp;&nbsp;∣乔MM的这款慵懒雕发“方便面”造型，性感妩媚，很摩登哦。
            <br/>&nbsp;&nbsp;&nbsp;&nbsp;<div class="content-detail-img"><img src="/App/image/view/diaofashishang/diaofafengchao_47.png" alt=""/></div>

            <br/>&nbsp;&nbsp;&nbsp;&nbsp;∣从侧面看，这款慵懒雕发“方便面”造型，蓬松饱满，显得脸超小的哦。
            <br/>&nbsp;&nbsp;&nbsp;&nbsp;<div class="content-detail-img"><img src="/App/image/view/diaofashishang/diaofafengchao_48.png" alt=""/></div>

            <br/>&nbsp;&nbsp;&nbsp;&nbsp;∣乔MM的这款中长卷发雕发造型很适合职业干练的时尚OL们哦。
            <br/>&nbsp;&nbsp;&nbsp;&nbsp;<div class="content-detail-img"><img src="/App/image/view/diaofashishang/diaofafengchao_49.png" alt=""/></div>

            <br/>&nbsp;&nbsp;&nbsp;&nbsp;∣这款长卷发雕发造型搭配亮片黑色发式，既优雅又时尚，MM们在即将到来的秋冬季，可以效仿哦。
            <br/>&nbsp;&nbsp;&nbsp;&nbsp;<div class="content-detail-img"><img src="/App/image/view/diaofashishang/diaofafengchao_410.png" alt=""/></div>

            <br/>&nbsp;&nbsp;&nbsp;&nbsp;NO3.袁泉
            <br/>&nbsp;&nbsp;&nbsp;&nbsp;∣夸张的雕发造型，有些前卫科幻感觉。
            <br/>&nbsp;&nbsp;&nbsp;&nbsp;<div class="content-detail-img"><img src="/App/image/view/diaofashishang/diaofafengchao_411.png" alt=""/></div>

            <br/>&nbsp;&nbsp;&nbsp;&nbsp;∣袁泉这款超短雕发，蓬松而富有动感，把袁泉完美的脸型裸露出来，和富有特色的短发配搭互相辉映，棒极了！再配合深邃眼妆，淡雅唇妆，感觉活泼、清新、自由、动感，想突破自我、换个新造型、新心情的话，这款造型真的很不错哦。
            <br/>&nbsp;&nbsp;&nbsp;&nbsp;<div class="content-detail-img"><img src="/App/image/view/diaofashishang/diaofafengchao_412.png" alt=""/></div>

            <br/>&nbsp;&nbsp;&nbsp;&nbsp;∣时尚雕发bobo头造型整齐帖服，十分漂亮可爱，配合袁泉瓜子型的脸庞，简直是完美的组合，瓜子型的脸庞可以衬托出bob头的圆满，圆圆的bob头又能衬托出脸庞的曲线。如果是圆脸的MM，可能就不大适合这款发型咯。妆容整体淡妆即可，把视觉中心放在唇妆初，鲜艳的红色可以既能表现出靓丽的容颜，又能配合服饰效果，整体造型古典女人味很重哦。
            <br/>&nbsp;&nbsp;&nbsp;&nbsp;<div class="content-detail-img"><img src="/App/image/view/diaofashishang/diaofafengchao_413.png" alt=""/></div>


            <br/>&nbsp;&nbsp;&nbsp;&nbsp;NO4.林志玲

            <br/>&nbsp;&nbsp;&nbsp;&nbsp;∣性感甜蜜的台湾名模林志玲曾在多场综艺节目中展示出自己的清纯娃娃头雕发造型，她的清纯雕发造型将她的真实年龄掩饰的完美无暇，更增添了小女生的娇媚可爱。
            <br/>&nbsp;&nbsp;&nbsp;&nbsp;<div class="content-detail-img"><img src="/App/image/view/diaofashishang/diaofafengchao_414.png" alt=""/></div>

            <br/>&nbsp;&nbsp;&nbsp;&nbsp;∣这款浪漫时尚的大卷雕发造型是林志玲以往曝光率最强的发型，相必较符合人们对于“美女”的传统观念。也很好的抒发了一种浪漫又布满女人味的气质。
            <br/>&nbsp;&nbsp;&nbsp;&nbsp;<div class="content-detail-img"><img src="/App/image/view/diaofashishang/diaofafengchao_415.png" alt=""/></div>




        </div>
    </div>
    <div class="news-wrap-mask">

    </div>
</div>