
<div class="news-wrap">
    <div class="news-main-wrap">
        <div class="close-btn">X</div>
        <div class="news-main">
            <br/>&nbsp;&nbsp;&nbsp;&nbsp;
            <div class="content-title">【丽人故事】周迅：想想十年后的自己</div>
            <br/>&nbsp;&nbsp;&nbsp;&nbsp;你也可以试着问问自己：现在的生活是我想要的吗？如果你的答案是否定的，那么抓紧时间规划下自己想要的未来吧。有梦想不够，有规划也不够，勇于踏出第一步至关重要。

            <br/>&nbsp;&nbsp;&nbsp;&nbsp;十八岁之前，我是个不知道自己想要什么的人，那时我每天就在浙江艺术学校里跟着同学唱唱歌，跳跳舞。偶尔有导演来找我拍戏，我就会很兴奋地去拍，无论多小的角色。

            <br/>&nbsp;&nbsp;&nbsp;&nbsp;如果没有老师跟我的那次谈话，那么也许直到今天，仍然没有人知道周迅是谁。

            <br/>&nbsp;&nbsp;&nbsp;&nbsp;那是1993年5月的一天，教我专业课的赵老师突然找我谈话：“周迅，你能告诉我，你对于未来的打算吗？”

            <br/>&nbsp;&nbsp;&nbsp;&nbsp;我愣住了。我不明白老师怎么突然问我如此严肃的问题，更不知道该怎么回答。

            <br/>&nbsp;&nbsp;&nbsp;&nbsp;老师问我：“现在的生活你满意吗？”我摇摇头。

            <br/>&nbsp;&nbsp;&nbsp;&nbsp;老师笑了：“不满意的话证明你还有救。你现在就想想，十年以后你会是什么样？”

             <div class="content-detail-img"><img src="/App/image/view/diaofashishang/lirengushi_21.png" alt=""/></div>

            <br/>&nbsp;&nbsp;&nbsp;&nbsp;老师的话音很轻，但是落在我心里却变得很沉重。我脑海里顿时开始风起云涌。沉默许久，我看着老师的眼睛，忽然就很坚定地说：“我希望十年后的自己成为最好的女演员，同时可以发行一张属于自己的音乐专辑。”

            <br/>&nbsp;&nbsp;&nbsp;&nbsp;老师问我：“你确定了吗？”

            <br/>&nbsp;&nbsp;&nbsp;&nbsp;我慢慢地咬紧着嘴唇回答：“Yes.”，而且拉了很长的音。

            <br/>&nbsp;&nbsp;&nbsp;&nbsp;老师接着说：“好，既然你确定了，我们就把这个目标倒着算回来。十年以后，你28岁，那时你是一个红透半边天的大明星，同时出了一张专辑。”

            <br/>&nbsp;&nbsp;&nbsp;&nbsp;“那么你27岁的时候，除了接拍各种名导演的戏以外，一定还要有一个完整的音乐作品，可以拿给很多很多的唱片公司听，对不对？”

            <br/>&nbsp;&nbsp;&nbsp;&nbsp;“25岁的时候，在演艺事业上你就要不断进行学习和思考。另外在音乐方面一定要有很棒的作品开始录音了。”

            <br/>&nbsp;&nbsp;&nbsp;&nbsp;“23岁就必须接受各种培训和训练，包括音乐上和肢体上的。”

            <br/>&nbsp;&nbsp;&nbsp;&nbsp;“20岁的时候就要开始作曲，作词。在演戏方面就要接拍大一点的角色了。”

             <div class="content-detail-img"><img src="/App/image/view/diaofashishang/lirengushi_22.png" alt=""/></div>

            <br/>&nbsp;&nbsp;&nbsp;&nbsp;老师的话说得很轻松，但是我却感到一阵恐惧。这样推下来，我应该马上着手为自己的理想做准备了，可是我现在却什么都不会，什么都没想过，仍然为小丫鬟小舞女之类的角色沾沾自喜。我觉得有一种强大的压力忽然朝自己袭来。

            <br/>&nbsp;&nbsp;&nbsp;&nbsp;老师平静地笑着说：“周迅，你是一棵好苗子，但是你对人生缺少规划，散漫而且混乱。我希望你能在空闲的时候，想想十年以后的自己，到底要过什么样的生活，到底要实现什么样的目标。如果你确定了目标，那么希望你从现在就开始做。”

             <div class="content-detail-img"><img src="/App/image/view/diaofashishang/lirengushi_23.png" alt=""/></div>


            <br/>&nbsp;&nbsp;&nbsp;&nbsp;一年以后，我从艺校毕业了，老师的话从那天开始一直刻在了我的心底：想想十年后的自己。是的，当我意识到这是一个问题的时候，我发现我整个人都觉醒了。

            <br/>&nbsp;&nbsp;&nbsp;&nbsp;从学校毕业后，我忙于接拍各种各样的影视剧。我始终记得，十年后我要做最成功的明星，所以对角色我开始很认真地筛选。后来我拍了《那时花开》，拍了《大明宫词》，我渐渐被大家接受，也慢慢地尝到了成功的快乐。

             <div class="content-detail-img"><img src="/App/image/view/diaofashishang/lirengushi_24.png" alt=""/></div>


            <br/>&nbsp;&nbsp;&nbsp;&nbsp;2003年4月，恰好是老师和我谈话后的十周年，我不知道这是偶然还是必然，我居然真的拥有了属于自己的第一张专辑——《夏天》。其实你也和我一样。如果你能及时地问自己一句：“十年后我会怎么样？”你会发现，你的人生就会在不知不觉中发生变化。时刻想着十年后的自己，你会朝着自己的梦想越走越近。

            <br/>&nbsp;&nbsp;&nbsp;&nbsp;你也可以试着问问自己：现在的生活是我想要的吗？如果你的答案是否定的，那么抓紧时间规划下自己想要的未来吧。有梦想不够，有规划也不够，勇于踏出第一步至关重要。


            <br/>&nbsp;&nbsp;&nbsp;&nbsp;<br/>&nbsp;&nbsp;&nbsp;&nbsp;
        <br/>&nbsp;&nbsp;&nbsp;&nbsp;
        </div>
    </div>
    <div class="news-wrap-mask">

    </div>
</div>