
<div class="news-wrap">
    <div class="news-main-wrap">
        <div class="close-btn">X</div>
        <div class="news-main">

            <br/>&nbsp;&nbsp;&nbsp;&nbsp;大多数人看人都是先看脸，所以脸可以说是一个人的门面。总结一下，跟脸有直接关系的应该就是化妆，发型，眼睛，衣服的领型，脸色和服装色彩的关系这几个方面吧。
            <div class="content-detail-img"><img src="/App/image/view/diaofashishang/meifamiji_61.png" alt=""/></div>
            <br/>&nbsp;&nbsp;&nbsp;&nbsp;脸型大概分成：锥形，鹅蛋形，杏仁形，圆形，长圆形，方形，菱形七种。
            <div class="content-detail-img"><img src="/App/image/view/diaofashishang/meifamiji_62.png" alt=""/></div>
            <br/>&nbsp;&nbsp;&nbsp;&nbsp;↑↑↑那么如何判断脸型呢？大家可以试着把头发撸起来，在额头，颧骨，下颌这几个地方定点。如上图中，额头最宽处宽于颧骨，但是不是宽很多。颧骨又宽于下颌并有明显下巴的就属于大家认识中比较好的鹅蛋形脸。
            <div class="content-detail-img"><img src="/App/image/view/diaofashishang/meifamiji_63.png" alt=""/></div>
            <br/>&nbsp;&nbsp;&nbsp;&nbsp;↑↑↑和鹅蛋型一般，但是下巴较尖的，判断为锥形脸。
            <div class="content-detail-img"><img src="/App/image/view/diaofashishang/meifamiji_64.png" alt=""/></div>
            <br/>&nbsp;&nbsp;&nbsp;&nbsp;↑↑↑杏仁形脸，额头较为狭窄，下颌较宽的脸型，下巴有较圆的尖角。
            <div class="content-detail-img"><img src="/App/image/view/diaofashishang/meifamiji_65.png" alt=""/></div>
            <br/>&nbsp;&nbsp;&nbsp;&nbsp;↑↑↑圆形脸，长圆形脸。圆形脸的同学都有一双圆脸蛋，下颌骨不会有明显的棱角，下巴也没有尖尖。整体是一个较圆的弧线。而圆形和长圆形的区别就在于长圆形的脸整体会比较长.......
            <div class="content-detail-img"><img src="/App/image/view/diaofashishang/meifamiji_66.png" alt=""/></div>
            <br/>&nbsp;&nbsp;&nbsp;&nbsp;↑↑↑方脸，方脸我想大家都有点认识，下颌骨比较立体，棱角比较清晰的脸型。这种脸型的女孩一般都会给人比较刚毅的感觉，相对也会让五官显得比较立体，在发型，领型，眼镜，化妆的选择上也要特别注意。
            <div class="content-detail-img"><img src="/App/image/view/diaofashishang/meifamiji_67.png" alt=""/></div>
            <br/>&nbsp;&nbsp;&nbsp;&nbsp;↑↑↑菱形脸，菱形脸顾名思义，就是菱形。额头狭窄，颧骨突出，下巴和下颌骨处又比较窄的脸型。

            <br/>&nbsp;&nbsp;&nbsp;&nbsp;下面来讲讲脸型与发型和服装的关系：

            <div class="content-detail-img"><img src="/App/image/view/diaofashishang/meifamiji_68.png" alt=""/></div>
            <br/>&nbsp;&nbsp;&nbsp;&nbsp;鹅蛋脸：鹅蛋脸是比较古典的完美脸型，脸型曲线分明，颧骨不明显，下巴尖而有弧度，是比较柔和的脸型。配合这样的脸型五官一般也会比较柔和。
            <br/>&nbsp;&nbsp;&nbsp;&nbsp;鹅蛋脸和发型：对于这样的女生基本上不挑发型，不管是什么样的发型，只要你想尝试其实都可以尝试一下。
            <br/>&nbsp;&nbsp;&nbsp;&nbsp;鹅蛋脸和服装：在选择服装的时候，人的脸型和五官也有一定的参考。鹅蛋脸五官比较柔和，所以选择服装的时候就尽量不要选择过于硬朗的。这种脸型的人一般都属于自然型的，一些柔和的服装穿着都会比较彰显气质。过于硬朗的服装，比如工装裤，中型的牛仔外套，朋克的机车夹克，这样的东西肯定不适合。
            <br/>&nbsp;&nbsp;&nbsp;&nbsp;当然，鹅蛋脸也有五官分明和不分明之分。我们看一个人的脸，首先都会注意到她的眼睛。眼睛的大小，瞳孔和眼白的比例，双眼皮还是单眼皮都可以影响一个人给人的感觉。眼睛大一点，眼球黑的部分较多，鼻梁挺，都会给人五官比较立体的感觉。
            <div class="content-detail-img"><img src="/App/image/view/diaofashishang/meifamiji_69.png" alt=""/></div>
            <br/>&nbsp;&nbsp;&nbsp;&nbsp;刘诗诗和汤唯，都是比较古典的鹅蛋型脸。她们的五官也都比较柔和。相对刘诗诗会更加柔和。所以看她的穿着，颜色都以柔和的浅色调为主，衣服上的花型图案也会比较柔和，不会有太大对比色太强烈的图案。
            <div class="content-detail-img"><img src="/App/image/view/diaofashishang/meifamiji_610.png" alt=""/></div>
            <br/>&nbsp;&nbsp;&nbsp;&nbsp;而汤唯现在是走国际范儿，所以有时候衣服的颜色对比会强烈一些，纯度会高一些。可以用上图她们的着装对比色和浅色柔和色的衣服比较一下看看效果。
            <div class="content-detail-img"><img src="/App/image/view/diaofashishang/meifamiji_611.png" alt=""/></div>
            <br/>&nbsp;&nbsp;&nbsp;&nbsp;再看这两个，范爷和佟丽娅，两个人可以说是会给人不同的感觉。但是这两个人都属于眼睛都比较大的鹅蛋型脸，眼睛大感觉五官也立体了。一对比两个人的鼻子竟然长的一摸一样.....都不算挺。
            <br/>&nbsp;&nbsp;&nbsp;&nbsp;范冰冰走的是国际范儿，服装的对比比较强烈，各种对比色，纯色系，大的图案都可以，如那年的龙袍穿着效果也不错。闺蜜变得很有女人味，而佟丽娅则是一直走的比较清新邻家的路线，但是她穿大的花型图案，纯度高一点的衣服也是木有问题的。
            <br/>&nbsp;&nbsp;&nbsp;&nbsp;总体说来，鹅蛋型是比较好的脸型，对于发型不挑，化妆只要适合自己就会很自然。
            <div class="content-detail-img"><img src="/App/image/view/diaofashishang/meifamiji_612.png" alt=""/></div>
            <br/>&nbsp;&nbsp;&nbsp;&nbsp;杏仁型脸：杏仁形，顾名思义就是和杏仁相似，额头窄，颧骨，两颊比较宽有下巴的脸型。
            <br/>&nbsp;&nbsp;&nbsp;&nbsp;杏仁型脸和发型：因为杏仁型的额头比较窄，所以在做发型的时候最好是有刘海的。到眉毛长度的刘海能够弥补额头太窄的缺陷。
            <div class="content-detail-img"><img src="/App/image/view/diaofashishang/meifamiji_613.png" alt=""/></div>
            <br/>&nbsp;&nbsp;&nbsp;&nbsp;用大弧度的内卷发去修饰宽宽的颧骨部分和尖尖下巴，使杏仁形脸型变鹅蛋小脸。
            <div class="content-detail-img"><img src="/App/image/view/diaofashishang/meifamiji_614.png" alt=""/></div>
            <br/>&nbsp;&nbsp;&nbsp;&nbsp;上图是个示意图，丰满额头，修饰颧骨这是发型修饰杏仁型脸的一个基本雏形，至于这样可以演变出什么样的发行就靠自己自由发挥了。
            <br/>&nbsp;&nbsp;&nbsp;&nbsp;另外还有人问，杏仁型脸能留中分吗？齐刘海好久了。掩盖，让额头显得丰满也不一定就非得是齐刘海，有刘海不管你是中，还是斜分的刘海都是可以的。
            <br/>&nbsp;&nbsp;&nbsp;&nbsp;那么杏仁脸是不是可以中分呢？
            <br/>&nbsp;&nbsp;&nbsp;&nbsp;杏仁型脸的额头狭窄，直接的长直黑是不行的，额头窄，头发塌从正面看头就是尖的。让头顶头发丰满一点，不要让分开的额头显得狭窄，中分遮颧骨的效果还是不错的。
            <br/>&nbsp;&nbsp;&nbsp;&nbsp;杏仁型脸和服装：杏仁型脸穿V型领会让脸部看着柔和一些。
            <div class="content-detail-img"><img src="/App/image/view/diaofashishang/meifamiji_615.png" alt=""/></div>
            <br/>&nbsp;&nbsp;&nbsp;&nbsp;圆形脸，长圆形脸
            <br/>&nbsp;&nbsp;&nbsp;&nbsp;我把圆形和长圆形放在了一起。它俩的区别在于长圆形脸更长一些，而圆形脸则更圆。
            <br/>&nbsp;&nbsp;&nbsp;&nbsp;换句话说就是圆形更像一个正圆，而长圆形则想一个两边拉长的圆。
            <div class="content-detail-img"><img src="/App/image/view/diaofashishang/meifamiji_616.png" alt=""/></div>
            <br/>&nbsp;&nbsp;&nbsp;&nbsp;上图示，齐刘海是完全没有修饰脸型的作用的。
            <br/>&nbsp;&nbsp;&nbsp;&nbsp;圆形脸和发型：圆脸，只是就圆脸来讲，圆脸给人的感觉也不一样。严格上来说，圆脸脸比较短而圆。所以我们要靠发行来拉长脸型，在这种情况下中分，侧分的长直发修脸型的效果就比较好，卷发内扣的也同样有着不错的效果。但是圆脸的妹子很多都会给人可爱的感觉。对于这部分妹子她们的都喜欢留齐刘海。本来齐刘海是挺缩短脸型的，对于圆形脸并不是很适合。但是却很可爱，有时候就会有意想不到的效果，你们说这种我们是该让其纠正还是提倡呢？我觉得如果好看留着也倒是无妨。
            <div class="content-detail-img"><img src="/App/image/view/diaofashishang/meifamiji_617.png" alt=""/></div>
            <br/>&nbsp;&nbsp;&nbsp;&nbsp;而长圆形脸，因为脸本身就会有点长，所以拉长脸型的中分发型就不是很适合了。最好是有一点刘海，像图片中的斜分刘海这样能遮住额头让脸不那么显长而且可以靠两侧发型修饰脸型。
            <div class="content-detail-img"><img src="/App/image/view/diaofashishang/meifamiji_618.png" alt=""/></div>
            <br/>&nbsp;&nbsp;&nbsp;&nbsp;圆脸就用两张林依晨的图片来比较一下，林依晨给人的感觉就是比较可爱的，所以她的发型大多时候会是有刘海的。短而圆的脸反而会觉得挺可爱的。相反如果是中分，感觉倒是与她气质不符了。
            <br/>&nbsp;&nbsp;&nbsp;&nbsp;再一个来说说李湘大婶，打从她出道顶着一张三十多岁的脸到现在。任何时候都是一副女王范儿，她是标准的大圆脸，长发撸在耳朵后面圆脸就更加明显。我翻找了一张标题为“李湘逆生长”的图片，头发略放下来这一点脸看着感觉舒服一些。 方形脸：方形脸的下颌角比较突出，让整个下巴没有弧度而比较硬。
            <div class="content-detail-img"><img src="/App/image/view/diaofashishang/meifamiji_619.png" alt=""/></div>
            <br/>&nbsp;&nbsp;&nbsp;&nbsp;方脸的人总是给人刚毅的感觉。而拥有方脸的妹子大多都不会对自己的脸型满意。所以让脸部显得柔和则是方脸妹子需要做的。
            <div class="content-detail-img"><img src="/App/image/view/diaofashishang/meifamiji_620.png" alt=""/></div>
            <div class="content-detail-img"><img src="/App/image/view/diaofashishang/meifamiji_621.png" alt=""/></div>
            <div class="content-detail-img"><img src="/App/image/view/diaofashishang/meifamiji_622.png" alt=""/></div>
            <br/>&nbsp;&nbsp;&nbsp;&nbsp;方脸形和发型:中分的大卷发，方形脸的MM可以尝试，两侧的卷发能够很好的修饰脸型，整体成熟而又气质。斜刘海的外翻卷发，也很适合方形脸的MM哦，柔顺散肩的发丝能够很好的修饰脸型，给人一种清新甜美、温婉的淑女气息。舒淇平时都是长发中分示人，让人几乎忘了她的方脸。
            <br/>&nbsp;&nbsp;&nbsp;&nbsp;脸型和服装:方脸比较硬朗，会给人刚毅的感觉，在选择服装的时候就不要选择同样方形或者有角度的领型。圆形的领型则会适当的让方脸显得柔和一点。
            <div class="content-detail-img"><img src="/App/image/view/diaofashishang/meifamiji_622.png" alt=""/></div>
            <br/>&nbsp;&nbsp;&nbsp;&nbsp;菱形脸：菱形脸我们就以林志玲为例，注意看她的颧骨外凸，颧骨上面太阳穴的位置会开始往内变窄。下巴尖脸和颧骨的位置会有一个明显内收的过程。这种就是菱形脸。
            <br/>&nbsp;&nbsp;&nbsp;&nbsp;菱形脸和发型:其实发型修饰脸型有填充，掩盖，衬托等方法。方脸，圆脸讲到的方法大多是掩盖，而额头窄的杏仁型则会用到掩盖和填充。菱形脸，我们主要也是用到掩盖的方法。
            <br/>&nbsp;&nbsp;&nbsp;&nbsp;既然菱形脸的颧骨突出，那么我们就利用发型掩盖颧骨。靠近面颊骨处的头发尽量贴近，面颊骨以上和以下的头发则尽量宽松这样可以掩饰颧骨修饰脸型，刘海要饱满，可以使你的额头看起来较宽。
            <br/>&nbsp;&nbsp;&nbsp;&nbsp;林志玲上面那张图很有意思，同样露出颧骨的发型。在左边菱形脸状态下，和右边不是那么菱形的状态下，好像右边会看着舒服一点有么有？
            <br/>&nbsp;&nbsp;&nbsp;&nbsp;所以菱形脸尽量不要尝试着去剪太短的发型。



        </div>
    </div>
    <div class="news-wrap-mask">

    </div>
</div>