
<div class="news-wrap">
    <div class="news-main-wrap">
        <div class="close-btn">X</div>
        <div class="news-main">
            <br/>&nbsp;&nbsp;&nbsp;&nbsp;<div class="content-title">各种脸型的化妆技巧！别在跟风了，画出自己的风格吧！</div>
            <div class="content-detail-img"><img src="/App/image/view/diaofashishang/zhiganzhuangrong_11.png" alt=""/></div>

            <br/>&nbsp;&nbsp;&nbsp;&nbsp;标准脸型
            <br/>&nbsp;&nbsp;&nbsp;&nbsp;莱布尼茨说：“世界上找不到两片相同的树叶。”尼采更概括地说：“世界上本来没有相同的东西”。人的相貌也是如此，即便是双胞胎也有不同之处。虽然人的头部构造相同，相貌却呈现千差万别，这是因为头骨是由许多块不规则形状骨骼构成，每个人骨骼大小形状不一，每块骨骼上又附着着不同厚度的肌肉、脂肪和皮肤，形成了不同的转折、凹凸和弧面，所以有了不同的脸型和相貌。一般可归纳总结为六种脸型：蛋形脸、圆形脸、方形脸、长形脸、三角形脸、菱形脸六种；化妆的功能性是修饰面部，使之协调美观。修饰脸形是从整体出发，修饰五官是局部刻画。化一个完美妆面就象是完成一幅绘画作品，是一个从整体到局部，再从局部到整体的过程，了解了骨骼和肌肉的构造后，再在面部轮廓和五官上进行修饰，会收到事半功倍的良好效果。
            <div class="content-detail-img"><img src="/App/image/view/diaofashishang/zhiganzhuangrong_12.png" alt=""/></div>

            <br/>&nbsp;&nbsp;&nbsp;&nbsp;蛋形脸 世界各国均认为“瓜子脸、鹅蛋脸”是最美的脸形，从标准脸形的美学标准来看，面部长度与宽度的比例为1.618∶1，这也符合黄金分割比例。
            <br/>&nbsp;&nbsp;&nbsp;&nbsp;标准脸形给人以视觉美感，我国用“三庭”“五眼”作为五官与脸形相搭配的美学标准：“三庭”是把人的面部长度分为三等分，外鼻长度正好是其中三分之一；“五眼”是把人的面部宽度分为五等分，眼睛的宽度正好是其中五分之一。现实中完全符合美学标准的脸形比较少见，大多数人的脸形都有这样或者那样的缺陷，在以下其他脸形的修饰中，均以蛋形脸为标准，在保留自身个性美的基础上向其靠拢，起到修饰矫正作用。
            <br/>&nbsp;&nbsp;&nbsp;&nbsp;圆形脸 面颊圆润，面部骨骼转折平缓无棱角，脸的长度与宽度的比例小于4：3，给人珠圆玉润，亲切可爱的视觉感受，反之，也会给人肥胖或缺少威严感的感觉。
            <br/>&nbsp;&nbsp;&nbsp;&nbsp;修饰方法
            <br/>&nbsp;&nbsp;&nbsp;&nbsp;1）脸形修饰：用暗影色在两颊及下颌角等部位晕染，消弱脸的宽度，用高光色在额骨、眉骨、鼻骨、颧骨上缘和下颏等部位提亮，加长脸的长度和增强脸部立体感。
            <br/>&nbsp;&nbsp;&nbsp;&nbsp;2）眉的修饰：眉头压低，眉尾略扬，画出眉峰。使眉毛挑起上扬而有棱角，破掉脸的圆润感。
            <br/>&nbsp;&nbsp;&nbsp;&nbsp;3）眼部修饰：在外眼角处加宽加长眼线，使眼形拉长。
            <br/>&nbsp;&nbsp;&nbsp;&nbsp;4）鼻部修饰：拉长鼻形，高光色从额骨延长至鼻尖，必要时可加鼻影，由眉头延长至鼻尖两侧，增强鼻部立体感。
            <br/>&nbsp;&nbsp;&nbsp;&nbsp;5）腮红：由颧骨向内斜下方晕染，强调颧弓下陷，增强面部立体感。
            <br/>&nbsp;&nbsp;&nbsp;&nbsp;6）唇部修饰：强调唇峰，画出棱角，下唇底部平直，消弱面部圆润感。
            <br/>&nbsp;&nbsp;&nbsp;&nbsp;方形脸 额角与下颌角较方，转折明显，使人看起来正直刚毅坚强。反之，不柔和，有点男性化
            <br/>&nbsp;&nbsp;&nbsp;&nbsp;修饰方法
            <br/>&nbsp;&nbsp;&nbsp;&nbsp;1）脸形修饰：用高光色提亮额中部、颧骨上方、鼻骨及下颏使面部中间部分突出，忽略脸形特征。暗影色用于额角、下颌角两侧，使面部看起来圆润柔和。也可借助刘海和发带遮盖额头棱角。
            <br/>&nbsp;&nbsp;&nbsp;&nbsp;2）眉的修饰：修掉眉峰棱角，使眉毛线条柔和圆润，呈拱形，眉尾不宜拉长。
            <br/>&nbsp;&nbsp;&nbsp;&nbsp;3）眼部修饰：强调眼线圆滑流畅，拉长眼尾并微微上挑，增强眼部妩媚感。
            <br/>&nbsp;&nbsp;&nbsp;&nbsp;4）腮红：颧弓下陷处用暗色腮红，颧骨上用淡色，斜向晕染，过渡处要衔接自然，可使面部有收缩感。
            <br/>&nbsp;&nbsp;&nbsp;&nbsp;5）唇部修饰：强调唇形圆润感，可用粉底盖住唇峰，从新勾画。
            <br/>&nbsp;&nbsp;&nbsp;&nbsp;长形脸 三庭过长，两颊消瘦，脸的长度与宽度的比例大于4：3，这种脸形给人感觉缺少生气，有沉着、冷静、成熟的感觉。
            <br/>&nbsp;&nbsp;&nbsp;&nbsp;修饰方法
            <br/>&nbsp;&nbsp;&nbsp;&nbsp;1）脸形修饰：用高光色提亮眉骨、颧骨上方，鼻上高光色加宽但不延长，增强面部立体感。暗影色用于额头发际线下和下颏处，注意衔接自然，这样在视觉上可使脸形缩短一些。
            <br/>&nbsp;&nbsp;&nbsp;&nbsp;2）眉的修饰：修掉挑高的眉峰，使眉毛平直，不宜过细，拉长眉尾，这样可拉宽缩短脸形。
            <br/>&nbsp;&nbsp;&nbsp;&nbsp;3）眼部修饰：加深眼窝，眼影向外眼角晕染，拉长加宽眼线，使眼部妆面立体，眼睛大而有神，忽略脸部长度。
            <br/>&nbsp;&nbsp;&nbsp;&nbsp;4）鼻部修饰：用高光色把鼻梁加宽，面积宽而短，收敛鼻子长度，不宜加鼻影。
            <br/>&nbsp;&nbsp;&nbsp;&nbsp;5）腮红：应横向晕染，由鬓角向内横扫在颧骨最高点，用横向面积破掉脸形的长度感。
            <br/>&nbsp;&nbsp;&nbsp;&nbsp;6）唇部修饰：唇形宜圆润饱满。
            <br/>&nbsp;&nbsp;&nbsp;&nbsp;（5）三角形脸 又分正三角形脸和倒三角形脸。
            <br/>&nbsp;&nbsp;&nbsp;&nbsp;正三角形脸 额部窄，下颌较宽大，也称梨型脸，给人感觉富态，柔和平缓。
            <br/>&nbsp;&nbsp;&nbsp;&nbsp;修饰方法
            <br/>&nbsp;&nbsp;&nbsp;&nbsp;1）脸形修饰：可于化妆前开发际，除去一些发际边缘的毛发，使额头变宽，用高光色提亮额头眉骨、颧骨上方、太阳穴、鼻梁等处，使脸的上半部明亮、突出、有立体感。用暗影色修饰两腮和下颌骨处，收缩脸下半部的体积感。
            <br/>&nbsp;&nbsp;&nbsp;&nbsp;2）眉的修饰：使眉距稍宽，眉不宜挑，眉形平缓拉长。
            <br/>&nbsp;&nbsp;&nbsp;&nbsp;3）眼部修饰：眼影向外眼角晕染，眼线拉长，略上挑，使眼部妆面突出。
            <br/>&nbsp;&nbsp;&nbsp;&nbsp;4）鼻部修饰：鼻根不宜过窄。
            <br/>&nbsp;&nbsp;&nbsp;&nbsp;5）腮红：由鬓角向鼻翼方向斜扫。
            <br/>&nbsp;&nbsp;&nbsp;&nbsp;6）唇部修饰：口红颜色宜淡雅自然，让视觉忽略脸的下半部。
            <br/>&nbsp;&nbsp;&nbsp;&nbsp;倒三角形脸 额头较宽，下颌较窄，下颏尖，是一种比较好看的脸形，缺点是会给人以病态美感。
            <br/>&nbsp;&nbsp;&nbsp;&nbsp;修饰方法
            <br/>&nbsp;&nbsp;&nbsp;&nbsp;1）脸形修饰：用高光色提亮脸颊两侧，使两颊看起来丰满一些，用暗影色晕染额角及颧骨两侧，使脸的上半部收缩一些，注意粉底自然过渡。
            <br/>&nbsp;&nbsp;&nbsp;&nbsp;2）眉的修饰：眉形应圆润微挑，不宜有棱角，眉峰在眉毛3/2向外一点。
            <br/>&nbsp;&nbsp;&nbsp;&nbsp;3）眼部修饰：眼影晕染重点在内眼角上，眼线不宜拉长。
            <br/>&nbsp;&nbsp;&nbsp;&nbsp;4）腮红：宜用淡色腮红横向晕染，增强脸部丰润感。
            <br/>&nbsp;&nbsp;&nbsp;&nbsp;5）唇部修饰：唇圆润饱满。
            <div class="content-detail-img"><img src="/App/image/view/diaofashishang/zhiganzhuangrong_13.png" alt=""/></div>

            <br/>&nbsp;&nbsp;&nbsp;&nbsp;菱形脸 额头较窄，颧骨突出，下颏窄而尖，这种脸形比较难选发型，易给人以缺乏亲和力、尖锐、敏感的印象。
            <br/>&nbsp;&nbsp;&nbsp;&nbsp;修饰方法
            <br/>&nbsp;&nbsp;&nbsp;&nbsp;1）脸形修饰：用阴影色修饰高颧骨和尖下巴，削弱颧骨的高度和下巴的凌厉感，在两额角和下颌两侧提亮，可以使脸型显得圆润一些。
            <br/>&nbsp;&nbsp;&nbsp;&nbsp;2）眉的修饰：适合圆润的拱形眉，破掉脸上的多处棱角
            <br/>&nbsp;&nbsp;&nbsp;&nbsp;3）眼部修饰：眼影应向外晕染，拓宽颞窝处宽度，眼线也要适当拉长上挑。
            <br/>&nbsp;&nbsp;&nbsp;&nbsp;4）鼻部修饰：加宽鼻梁处高光色，使鼻梁挺阔。
            <br/>&nbsp;&nbsp;&nbsp;&nbsp;5）腮红： 腮红应自然清淡，不宜突出，可以省略

            <br/>&nbsp;&nbsp;&nbsp;&nbsp;文章来源：小果儿达人馆


        </div>
    </div>
    <div class="news-wrap-mask">

    </div>
</div>