
<div class="news-wrap">
    <div class="news-main-wrap">
        <div class="close-btn">X</div>
        <div class="news-main">
            <div class="content-title">【美发秘籍】九种妙招教你怎么处理尴尬的刘海</div>

<br/>&nbsp;&nbsp;&nbsp;&nbsp;教你如何处理尴尬的刘海，一双巧手加上几个编发小技巧，让你的发型漂亮度再升级！
            <div class="content-detail-img"><img src="/App/image/view/diaofashishang/meifamiji_41.png" alt=""/></div>
            <div class="content-detail-img"><img src="/App/image/view/diaofashishang/meifamiji_42.png" alt=""/></div>
            <div class="content-detail-img"><img src="/App/image/view/diaofashishang/meifamiji_43.png" alt=""/></div>
            <div class="content-detail-img"><img src="/App/image/view/diaofashishang/meifamiji_44.png" alt=""/></div>
            <div class="content-detail-img"><img src="/App/image/view/diaofashishang/meifamiji_45.png" alt=""/></div>
            <div class="content-detail-img"><img src="/App/image/view/diaofashishang/meifamiji_46.png" alt=""/></div>
            <div class="content-detail-img"><img src="/App/image/view/diaofashishang/meifamiji_47.png" alt=""/></div>
            <div class="content-detail-img"><img src="/App/image/view/diaofashishang/meifamiji_48.png" alt=""/></div>
            <div class="content-detail-img"><img src="/App/image/view/diaofashishang/meifamiji_49.png" alt=""/></div>











        </div>
    </div>
    <div class="news-wrap-mask">

    </div>
</div>