
<div class="news-wrap">
    <div class="news-main-wrap">
        <div class="close-btn">X</div>
        <div class="news-main">
            <br/>&nbsp;&nbsp;&nbsp;&nbsp;<div class="content-title">【护发秘籍】6小妙招，挽救脱发！</div>
            <br/>&nbsp;&nbsp;&nbsp;&nbsp;很多人发愁自己的头发长的太慢了，怎样让头发长的快？今天给大家介绍6大妙招能让头发快速生长，一起看看吧，90%以上任性且爱美的妹子都会下拉到文章底部加我们的微信，每日分享好看发型！
            <br/>&nbsp;&nbsp;&nbsp;&nbsp;【啤酒护发】
            <br/>&nbsp;&nbsp;&nbsp;&nbsp;先将头发洗净，擦干，然后将啤酒均匀地涂搽在头发上，并进行揉搓按摩，使其渗透根。10分钟后用清水洗净，这样不仅使头发光亮，而且能防止头发干枯脱落，促进头发生长。
            <br/>&nbsp;&nbsp;&nbsp;&nbsp;<div class="content-detail-img"><img src="/App/image/view/diaofashishang/meifamiji_11.png" alt=""/></div>


            <br/>&nbsp;&nbsp;&nbsp;&nbsp;【黑芝麻磨粉】
            <br/>&nbsp;&nbsp;&nbsp;&nbsp;到超级市场选购不加糖的黑芝麻粉，每天一汤匙即可。最好能够把芝麻粉当作早餐，一个月后，头发的生长速度就可以明显的发现变快。但是不宜食用过多，否则会引起便秘。
            <br/>&nbsp;&nbsp;&nbsp;&nbsp;<div class="content-detail-img"><img src="/App/image/view/diaofashishang/meifamiji_12.png" alt=""/></div>


            <br/>&nbsp;&nbsp;&nbsp;&nbsp;【游泳】
            <br/>&nbsp;&nbsp;&nbsp;&nbsp;游泳时水能滋润按摩头部，经常游泳头发会长得特别快速且浓密。
            <br/>&nbsp;&nbsp;&nbsp;&nbsp;<div class="content-detail-img"><img src="/App/image/view/diaofashishang/meifamiji_13.png" alt=""/></div>


            <br/>&nbsp;&nbsp;&nbsp;&nbsp;【饮食】
            <br/>&nbsp;&nbsp;&nbsp;&nbsp;保持良好的饮食习惯，不要偏食，可多摄取蛋白质(如：肉类、肝脏、蛋类制品、黄豆类、优酪乳、起司等)、钙质、胶质(鱼类食物)及深色蔬菜的食物。
            <br/>&nbsp;&nbsp;&nbsp;&nbsp;<div class="content-detail-img"><img src="/App/image/view/diaofashishang/meifamiji_14.png" alt=""/></div>



            <br/>&nbsp;&nbsp;&nbsp;&nbsp;【醋蛋护发】
            <br/>&nbsp;&nbsp;&nbsp;&nbsp;先在洗发液中加入少许蛋白，调匀后洗发，并轻轻按摩头皮。然后洗净，用新鲜蛋黄调入少量醋，使其充分混合，顺发丝慢慢涂抹，用湿毛巾包1小时，再用清水洗净。头发不但被醋滋润还能吸收鸡蛋里的蛋白质，营养加倍，生长速度自然加倍!
            <br/>&nbsp;&nbsp;&nbsp;&nbsp;<div class="content-detail-img"><img src="/App/image/view/diaofashishang/meifamiji_15.png" alt=""/></div>

            <br/>&nbsp;&nbsp;&nbsp;&nbsp;【经常洗头】
            <br/>&nbsp;&nbsp;&nbsp;&nbsp;两种不同牌子的洗发精交替使用。经常梳头发，头发可倒著梳，对头皮的血液循环和生长有帮助、按摩头部或倒立或双腿靠墙抬高，能让血液加速循环至头部，促进头发的成长。


        </div>
    </div>
    <div class="news-wrap-mask">

    </div>
</div>