
<div class="news-wrap">
    <div class="news-main-wrap">
        <div class="close-btn">X</div>
        <div class="news-main">
            <br/>&nbsp;&nbsp;&nbsp;&nbsp;【美发秘籍】2015年流行什么男生发型，总有一款适合你，帅惨了！
            <br/>&nbsp;&nbsp;&nbsp;&nbsp;发型是整体形象的决定性因素，一身整体得体的行头，如果发型不给力，势必会对全身搭配大打折扣。想要把自己打造成为一名真正的潮男，就从发型开始吧，选择一款适合自己的帅气发型，提升自己的潮流指数！
            <div class="content-detail-img"><img src="/App/image/view/diaofashishang/meifamiji_21.png" alt=""/></div>

            <br/>&nbsp;&nbsp;&nbsp;&nbsp;一：简单小马尾
            <br/>&nbsp;&nbsp;&nbsp;&nbsp;非常个性的一款潮男发型，2015年继续潮流下去。将两侧的头发剪得非常干净，尽显男生的清爽个性。将中间的头发梳理得非常整齐，一个简单的小马尾，非常个性显潮！
            <div class="content-detail-img"><img src="/App/image/view/diaofashishang/meifamiji_22.png" alt=""/></div>

            <br/>&nbsp;&nbsp;&nbsp;&nbsp;二：莫干西发型
            <br/>&nbsp;&nbsp;&nbsp;&nbsp;非常帅气的一款莫西干发型，中间留长并修剪出易于打理的形状，头顶两侧的头发剪得极短，干净利落，精致的五官展露无遗，帅气逼人！
            <div class="content-detail-img"><img src="/App/image/view/diaofashishang/meifamiji_23.png" alt=""/></div>

            <br/>&nbsp;&nbsp;&nbsp;&nbsp;三：长刘海设计的定位烫发型
            <br/>&nbsp;&nbsp;&nbsp;&nbsp;阳光打在脸上的感觉，瞬间让散发出男士的温暖一面，长刘海设计的定位烫发型，修饰脸型很潮流哦，两边的鬓发修剪得很短，清爽个性尽展。
            <div class="content-detail-img"><img src="/App/image/view/diaofashishang/meifamiji_24.png" alt=""/></div>

            <br/>&nbsp;&nbsp;&nbsp;&nbsp;四：厚重长斜刘海发型
            <br/>&nbsp;&nbsp;&nbsp;&nbsp;这是一款厚重长斜刘海发型，头顶和刘海部位打造出蓬松感，刘海是从左侧往右侧打理，逐渐变长，极富修颜效果，潮流帅气。
            <div class="content-detail-img"><img src="/App/image/view/diaofashishang/meifamiji_25.png" alt=""/></div>

            <br/>&nbsp;&nbsp;&nbsp;&nbsp;五：碎花处理的棕色染发韩式发型
            <br/>&nbsp;&nbsp;&nbsp;&nbsp;很韩式个性的2015男士发型设计，将头发进行定位烫的处理，增添造型时尚感，碎花处理的棕色染发，展现出潮流男士的魅力。
            <div class="content-detail-img"><img src="/App/image/view/diaofashishang/meifamiji_26.png" alt=""/></div>

            <br/>&nbsp;&nbsp;&nbsp;&nbsp;六：飞机头发型
            <br/>&nbsp;&nbsp;&nbsp;&nbsp;个性的飞机头发型是不少男生喜欢的造型，前额的刘海打造出飞翘感来，两侧的短发显露出无比的时尚感来， 鬓发的设计自然不做作。
            <div class="content-detail-img"><img src="/App/image/view/diaofashishang/meifamiji_27.png" alt=""/></div>

            <br/>&nbsp;&nbsp;&nbsp;&nbsp;七：修颜短发发型
            <br/>&nbsp;&nbsp;&nbsp;&nbsp;想要出众，发型着装简单纯粹就好，层次感的修颜短发发型，修身西装，举手投足间尽显优雅气质。
            <div class="content-detail-img"><img src="/App/image/view/diaofashishang/meifamiji_28.png" alt=""/></div>

            <br/>&nbsp;&nbsp;&nbsp;&nbsp;八：韩式短发造型
            <br/>&nbsp;&nbsp;&nbsp;&nbsp;文艺范的男生似乎都和艺术难分离，韩式短发造型，衬衫帅哥，变身忧郁小王子弹着吉他，十分耀眼。
            <div class="content-detail-img"><img src="/App/image/view/diaofashishang/meifamiji_29.png" alt=""/></div>

            <br/>&nbsp;&nbsp;&nbsp;&nbsp;九：二分区式发型
            <br/>&nbsp;&nbsp;&nbsp;&nbsp;男生二分区式发型，两侧头发推剪掉显得干净清新，头顶头发烫成定位烫，同时打造出束感的线条，自然有型，短碎的斜刘海显清秀帅气。
            <div class="content-detail-img"><img src="/App/image/view/diaofashishang/meifamiji_210.png" alt=""/></div>

            <br/>&nbsp;&nbsp;&nbsp;&nbsp;十：朋克头
            <br/>&nbsp;&nbsp;&nbsp;&nbsp;这款男士短发造型曾经在过去的两年中出尽了风头，到了2015年，这款朋克头的造型也是备受欢迎，一点也不过时哦。
            <div class="content-detail-img"><img src="/App/image/view/diaofashishang/meifamiji_211.png" alt=""/></div>

            <br/>&nbsp;&nbsp;&nbsp;&nbsp;十一：子弹头
            <br/>&nbsp;&nbsp;&nbsp;&nbsp;飞机头发型依然备受潮男们的热捧，头顶两侧头发打短，头顶部位打造出造型感，发丝染上棕黄色，更凸显阳光帅气。帅气的发型再配一副酷帅墨镜，潮流指数瞬间飙升！

            <br/>&nbsp;&nbsp;&nbsp;&nbsp;昨天来源：口袋趣闻


        </div>
    </div>
    <div class="news-wrap-mask">

    </div>
</div>