<div class="content-wrap">
	<div class="content-img">
		<img src="/App/image/view/diaofashishang/shishangqianyansub.jpg" alt=""/>
		<div class="content-main-nav">
            <div class="fc-content-main-nav-wrap-mask">
                <div class="content-main-nav-mask-item clicked" id="meifamiji2mask"></div>
                <div class="content-main-nav-mask-item" id="shishangyizhuang2mask"></div>
                <div class="content-main-nav-mask-item" id="zhiganzhuangrong2mask"></div>
                <div class="content-main-nav-mask-item" id="lirengushi2mask"></div>
            </div>
			<div class="fc-content-main-nav-wrap">
                <div class="content-main-nav-item clicked" id="meifamiji2">美发秘笈</div>
                <div class="content-main-nav-item" id="shishangyizhuang2">时尚衣装</div>
				<div class="content-main-nav-item" id="zhiganzhuangrong2">质感妆容</div>
				<div class="content-main-nav-item" id="lirengushi2" style="border: none">丽人故事</div>
			</div>
	</div>

	</div>
	<div class="content-main">
        <div class="content-main-article" id="meifamiji2-main">
            <div class="content-main-head">
                <div class="content-head-title">美发秘籍</div><span class="content-head-title-eng">HAIR TIPS</span>
            </div>
            <div class="article-introduction">
                       敬请期待...
            </div>
        </div>
		<div class="content-main-article" id="shishangyizhuang2-main">
			<div class="content-main-head">
				<div class="content-head-title">时尚衣装</div><span class="content-head-title-eng">FASHION CLOTHES</span>
			</div>
			<div class="article-introduction">
                敬请期待...


            </div>
		</div>
		<div class="content-main-article" id="zhiganzhuangrong2-main">
			<div class="content-main-head">
				<div class="content-head-title">质感妆容</div><span class="content-head-title-eng">TEXTURE MARKUP</span>
			</div>
			<div class="article-introduction">
                敬请期待...

            </div>
		</div>
		<div class="content-main-article" id="lirengushi2-main">
			<div class="content-main-head">
				<div class="content-head-title">丽人故事</div><span class="content-head-title-eng">BEAUTY STORY</span>
			</div>
			<div class="article-introduction">
                敬请期待...

            </div>
		</div>
	</div>
</div>