<div class="content-wrap">
	<div class="content-img">
		<img src="/App/image/view/diaofashishang/shishangqianyansub.jpg" alt=""/>
		<div class="content-main-nav">
            <div class="fc-content-main-nav-wrap-mask">
                <div class="content-main-nav-mask-item clicked" id="meifamiji2mask"></div>
                <div class="content-main-nav-mask-item" id="shishangyizhuang2mask"></div>
                <div class="content-main-nav-mask-item" id="zhiganzhuangrong2mask"></div>
                <div class="content-main-nav-mask-item" id="lirengushi2mask"></div>
            </div>
			<div class="fc-content-main-nav-wrap">
                <div class="content-main-nav-item clicked" id="meifamiji2">美发秘笈</div>
                <div class="content-main-nav-item" id="shishangyizhuang2">时尚衣装</div>
				<div class="content-main-nav-item" id="zhiganzhuangrong2">质感妆容</div>
				<div class="content-main-nav-item" id="lirengushi2" style="border: none">丽人故事</div>
			</div>
	</div>

	</div>
	<div class="content-main">
        <div class="content-main-article" id="meifamiji2-main">
            <div class="content-main-head">
                <div class="content-head-title">美发秘籍</div><span class="content-head-title-eng">HAIR TIPS</span>
            </div>
            <div class="article-introduction">
                <div class="article-introduction-item" data-content-id="meifamiji_1"><img src="/App/image/global/logo/diaofajianshangpeitu.jpg" alt=""/>6小妙招，挽救脱发！</div>
                <div class="article-introduction-item" data-content-id="meifamiji_2"><img src="/App/image/global/logo/diaofajianshangpeitu.jpg" alt=""/>2015年流行什么男生发型，总有一款适合你</div>
                <div class="article-introduction-item" data-content-id="meifamiji_3"><img src="/App/image/global/logo/diaofajianshangpeitu.jpg" alt=""/>减龄秘诀，2015跟闺蜜们一起萌萌哒</div>
                <div class="article-introduction-item" data-content-id="meifamiji_4"><img src="/App/image/global/logo/diaofajianshangpeitu.jpg" alt=""/>九种妙招教你怎么处理尴尬的刘海</div>
                <div class="article-introduction-item" data-content-id="meifamiji_5"><img src="/App/image/global/logo/diaofajianshangpeitu.jpg" alt=""/>你知道自己最适合哪种头发颜色吗？</div>
                <div class="article-introduction-item" data-content-id="meifamiji_6"><img src="/App/image/global/logo/diaofajianshangpeitu.jpg" alt=""/>史上最全脸型，发型，服装的搭配技巧</div>

            </div>
        </div>
		<div class="content-main-article" id="shishangyizhuang2-main">
			<div class="content-main-head">
				<div class="content-head-title">时尚衣装</div><span class="content-head-title-eng">FASHION CLOTHES</span>
			</div>
			<div class="article-introduction">
                <div class="article-introduction-item" data-content-id="shishangyizhuang_1"><img src="/App/image/global/logo/diaofazixunpeitu.jpg" alt=""/>女人的衣橱一定要有一件旗袍</div>
                <!--<div class="article-introduction-item" data-content-id="shishangyizhuang_2"></div>-->


            </div>
		</div>
		<div class="content-main-article" id="zhiganzhuangrong2-main">
			<div class="content-main-head">
				<div class="content-head-title">质感妆容</div><span class="content-head-title-eng">TEXTURE MARKUP</span>
			</div>
			<div class="article-introduction">
                <div class="article-introduction-item" data-content-id="zhiganzhuangrong_1"><img src="/App/image/global/logo/diaofashishangpeitu.jpg" alt=""/>各种脸型的化妆技巧！别在跟风了！</div>
                <div class="article-introduction-item" data-content-id="zhiganzhuangrong_2"><img src="/App/image/global/logo/diaofashishangpeitu.jpg" alt=""/>男人眼中的素颜 vs 女人眼中的素颜.</div>
                <!--<div class="article-introduction-item"></div>-->
                <!--<div class="article-introduction-item"></div>-->
                <!--<div class="article-introduction-item"></div>-->
                <!--<div class="article-introduction-item"></div>-->
                <!--<div class="article-introduction-item"></div>-->
            </div>
		</div>
		<div class="content-main-article" id="lirengushi2-main">
			<div class="content-main-head">
				<div class="content-head-title">丽人故事</div><span class="content-head-title-eng">BEAUTY STORY</span>
			</div>
			<div class="article-introduction">
                <div class="article-introduction-item" data-content-id="lirengushi_1"><img src="/App/image/global/logo/diaofaxuetangpeitu.jpg" alt=""/>31岁当选洛杉矶副市长的华裔女人说</div>
                <div class="article-introduction-item" data-content-id="lirengushi_2"><img src="/App/image/global/logo/diaofaxuetangpeitu.jpg" alt=""/>问问十年后的自己</div>
                <!--<div class="article-introduction-item"></div>-->
                <!--<div class="article-introduction-item"></div>-->
            </div>
		</div>
	</div>
</div>