.litMask {
	position: absolute;
	height: 78px;
	width: 120px;
	display: none;
	background-color: #000000;
	opacity: 0.2;
	filter: alpha(opacity=20);
}

.headSubMask {
	position: absolute;
	height: 200px;
	width: 100%;
	display: block;
	background-color: #000000;
	opacity: 0.2;
	z-index: -1;
	filter: alpha(opacity=20);
}
.contentDivMask {
	width: 260px;
	height: 180px;
	float: left;
	position: relative;
	overflow: hidden;
	opacity: 0.5;
	filter : alpha(opacity = 50);
	z-index: -1;
	background: #111;
}
.contentDiv img{
	opacity: 0.5;
	filter : alpha(opacity = 50);
}