.litMask {
	position: absolute;
	top: 0;
	left: 0;
	height: 78px;
	width: 120px;
	display: none;
	background-color: #000000;
	opacity: 0.2;
	filter: alpha(opacity=20);
}

.headSubMask {
	position: absolute;
	top: 0;
	left: 0;
	height: 100%;
	width: 100%;
	display: block;
	background-color: #000000;
	opacity: 0.5;
	z-index: -1;
	filter: alpha(opacity=50);
}
.contentDivMask {
	width: 260px;
	height: 180px;
	float: left;
	position: relative;
	overflow: hidden;
	opacity: 0.7;
	filter : alpha(opacity = 70);
	z-index: -1;
	background-color: #111;
}
.content-img-item-mask {
	filter: alpha(opacity=0.5);
}
.fc-word-mask{
	filter: alpha(opacity=0.5);
}