header, footer {
  display none!important
}
.note-codable {
  display none
}
.header {
  height 50px
  width 1000px
  margin 0 auto
  text-align center

}
.content{
  width 1000px
  height 600px
  margin 0 auto
}
.nav{
  float left
  height 100%
  width 100px
}
.nav li {
  height 50px
  width 100px
  background-color: #ff9667
  cursor pointer
}
.nav li .now {
  height 50px
  width 100px
  background-color: #ff3e41
}
.edition-wrap {
  width 900px
  height 100%
  padding 50px
  float left
}
.note-editable {
  border solid
}