<div class="content-wrap">
	<div class="content-img">
		<img src="/App/image/view/diaofazhishi/dingzhiliucheng.jpg" alt=""/>
		<div class="content-main-nav">
			<div class="content-main-nav-wrap">
				<div class="content-main-nav-item clicked" id="jishuguanzhan">技术观瞻</div>
				<div class="content-main-nav-item" id="dingzhiliucheng">定制流程</div>
				<div class="content-main-nav-item" id="gongyijianbie" style="border: none">工艺鉴别</div>
			</div>
	</div>

	</div>
	<div class="content-main">
		<div class="content-main-article" id="jishuguanzhan-main">
			<div class="content-main-head">
				<div class="content-head-title">技术观瞻</div><span class="content-head-title-eng">TECHNICAL VIEW</span>
			</div>
			<div class="article-introduction">
				1这个技术很牛逼的！这个技术很牛逼的！这个技术很牛逼的！这个技术很牛逼的！这个技术很牛逼的！这个技术很牛逼的！
				这个技术很牛逼的！这个技术很牛逼的！这个技术很牛逼的！这个技术很牛逼的！这个技术很牛逼的！这个技术很牛逼的！
				这个技术很牛逼的！这个技术很牛逼的！这个技术很牛逼的！这个技术很牛逼的！这个技术很牛逼的！这个技术很牛逼的！
				这个技术很牛逼的！这个技术很牛逼的！这个技术很牛逼的！这个技术很牛逼的！这个技术很牛逼的！这个技术很牛逼的！
				这个技术很牛逼的！这个技术很牛逼的！这个技术很牛逼的！这个技术很牛逼的！这个技术很牛逼的！这个技术很牛逼的！
				！这个技术很牛逼的！这个技术很牛逼的！这个技术很牛逼的！这个技术很牛逼的！这个技术很牛逼的！这个技术很牛逼的！
				这个技术很牛逼的！	这个技术很牛逼的！这个技术很牛逼的！这个技术很牛逼的！这个技术很牛逼的！这个技术很牛逼的！
				这个技术很牛逼的！这个技术很牛逼的！这个技术很牛逼的！这个技术很牛逼的！这个技术很牛逼的！这个技术很牛逼的！
				这个技术很牛逼的！
				这个技术很牛逼的！这个技术很牛逼的！这个技术很牛逼的！这个技术很牛逼的！这个技术很牛逼的！这个技术很牛逼的！
				这个技术很牛逼的！这个技术很牛逼的！这个技术很牛逼的！这个技术很牛逼的！这个技术很牛逼的！这个技术很牛逼的！
				这个技术很牛逼的！这个技术很牛逼的！这个技术很牛逼的！这个技术很牛逼的！这个技术很牛逼的！这个技术很牛逼的！
				这个技术很牛逼的！这个技术很牛逼的！这个技术很牛逼的！这个技术很牛逼的！这个技术很牛逼的！这个技术很牛逼的！
				！这个技术很牛逼的！这个技术很牛逼的！这个技术很牛逼的！这个技术很牛逼的！这个技术很牛逼的！这个技术很牛逼的！
				这个技术很牛逼的！	这个技术很牛逼的！这个技术很牛逼的！这个技术很牛逼的！这个技术很牛逼的！这个技术很牛逼的！
				这个技术很牛逼的！

			</div>
		</div>
		<div class="content-main-article" id="dingzhiliucheng-main">
			<div class="content-main-head">
				<div class="content-head-title">定制流程</div><span class="content-head-title-eng">CUSTOMIZATION PROCESS</span>
			</div>
			<div class="article-introduction">
				22这个技术很牛逼的！这个技术很牛逼的！这个技术很牛逼的！这个技术很牛逼的！这个技术很牛逼的！这个技术很牛逼的！
				这个技术很牛逼的！这个技术很牛逼的！这个技术很牛逼的！这个技术很牛逼的！这个技术很牛逼的！这个技术很牛逼的！
				这个技术很牛逼的！这个技术很牛逼的！这个技术很牛逼的！这个技术很牛逼的！这个技术很牛逼的！这个技术很牛逼的！
				这个技术很牛逼的！这个技术很牛逼的！这个技术很牛逼的！这个技术很牛逼的！这个技术很牛逼的！这个技术很牛逼的！
				这个技术很牛逼的！这个技术很牛逼的！这个技术很牛逼的！这个技术很牛逼的！这个技术很牛逼的！这个技术很牛逼的！
				！这个技术很牛逼的！这个技术很牛逼的！这个技术很牛逼的！这个技术很牛逼的！这个技术很牛逼的！这个技术很牛逼的！
				这个技术很牛逼的！	这个技术很牛逼的！这个技术很牛逼的！这个技术很牛逼的！这个技术很牛逼的！这个技术很牛逼的！
				这个技术很牛逼的！这个技术很牛逼的！这个技术很牛逼的！这个技术很牛逼的！这个技术很牛逼的！这个技术很牛逼的！
				这个技术很牛逼的！
				这个技术很牛逼的！这个技术很牛逼的！这个技术很牛逼的！这个技术很牛逼的！这个技术很牛逼的！这个技术很牛逼的！
				这个技术很牛逼的！这个技术很牛逼的！这个技术很牛逼的！这个技术很牛逼的！这个技术很牛逼的！这个技术很牛逼的！
				这个技术很牛逼的！这个技术很牛逼的！这个技术很牛逼的！这个技术很牛逼的！这个技术很牛逼的！这个技术很牛逼的！
				这个技术很牛逼的！这个技术很牛逼的！这个技术很牛逼的！这个技术很牛逼的！这个技术很牛逼的！这个技术很牛逼的！
				！这个技术很牛逼的！这个技术很牛逼的！这个技术很牛逼的！这个技术很牛逼的！这个技术很牛逼的！这个技术很牛逼的！
				这个技术很牛逼的！	这个技术很牛逼的！这个技术很牛逼的！这个技术很牛逼的！这个技术很牛逼的！这个技术很牛逼的！
				这个技术很牛逼的！
			</div>
		</div>
		<div class="content-main-article" id="gongyijianbie-main">
			<div class="content-main-head">
				<div class="content-head-title">工艺鉴别</div><span class="content-head-title-eng">IDENTIFICATION PROCESS</span>
			</div>
			<div class="article-introduction">
				33这个技术很牛逼的！这个技术很牛逼的！这个技术很牛逼的！这个技术很牛逼的！这个技术很牛逼的！这个技术很牛逼的！
				这个技术很牛逼的！这个技术很牛逼的！这个技术很牛逼的！这个技术很牛逼的！这个技术很牛逼的！这个技术很牛逼的！
				这个技术很牛逼的！这个技术很牛逼的！这个技术很牛逼的！这个技术很牛逼的！这个技术很牛逼的！这个技术很牛逼的！
				这个技术很牛逼的！这个技术很牛逼的！这个技术很牛逼的！这个技术很牛逼的！这个技术很牛逼的！这个技术很牛逼的！
				这个技术很牛逼的！这个技术很牛逼的！这个技术很牛逼的！这个技术很牛逼的！这个技术很牛逼的！这个技术很牛逼的！
				！这个技术很牛逼的！这个技术很牛逼的！这个技术很牛逼的！这个技术很牛逼的！这个技术很牛逼的！这个技术很牛逼的！
				这个技术很牛逼的！	这个技术很牛逼的！这个技术很牛逼的！这个技术很牛逼的！这个技术很牛逼的！这个技术很牛逼的！
				这个技术很牛逼的！这个技术很牛逼的！这个技术很牛逼的！这个技术很牛逼的！这个技术很牛逼的！这个技术很牛逼的！
				这个技术很牛逼的！
				这个技术很牛逼的！这个技术很牛逼的！这个技术很牛逼的！这个技术很牛逼的！这个技术很牛逼的！这个技术很牛逼的！
				这个技术很牛逼的！这个技术很牛逼的！这个技术很牛逼的！这个技术很牛逼的！这个技术很牛逼的！这个技术很牛逼的！
				这个技术很牛逼的！这个技术很牛逼的！这个技术很牛逼的！这个技术很牛逼的！这个技术很牛逼的！这个技术很牛逼的！
				这个技术很牛逼的！这个技术很牛逼的！这个技术很牛逼的！这个技术很牛逼的！这个技术很牛逼的！这个技术很牛逼的！
				！这个技术很牛逼的！这个技术很牛逼的！这个技术很牛逼的！这个技术很牛逼的！这个技术很牛逼的！这个技术很牛逼的！
				这个技术很牛逼的！	这个技术很牛逼的！这个技术很牛逼的！这个技术很牛逼的！这个技术很牛逼的！这个技术很牛逼的！
				这个技术很牛逼的！
			</div>
		</div>
	</div>
</div>