<div class="content-wrap">
	<div class="content-img">
		<img src="/App/image/view/diaofazhishi/dingzhiliucheng.jpg" alt=""/>
		<div class="content-main-nav">
            <div class="content-main-nav-wrap-mask">
                <!--<div class="content-main-nav-mask-item clicked" id="peixunzhongxinmask"></div>-->
                <div class="content-main-nav-mask-item clicked" id="jishuguanzhanmask"></div>
                <div class="content-main-nav-mask-item" id="dingzhiliuchengmask"></div>
                <div class="content-main-nav-mask-item" id="gongyijianbiemask"></div>
            </div>
			<div class="content-main-nav-wrap">
                <!--<div class="content-main-nav-item clicked" id="peixunzhongxin">培训中心</div>-->
                <div class="content-main-nav-item clicked" id="jishuguanzhan">技术观瞻</div>
				<div class="content-main-nav-item" id="dingzhiliucheng">定制流程</div>
				<div class="content-main-nav-item" id="gongyijianbie" style="border: none">工艺鉴别</div>
			</div>
	</div>

	</div>
	<div class="content-main">
        <div class="content-main-article" id="peixunzhongxin-main">
            <div class="article-introduction">
                12这个技术很牛逼的！这个技术很牛逼的！这个技术很牛逼的！这个技术很牛逼的！这个技术很牛逼的！这个技术很牛逼的！
                这个技术很牛逼的！这个技术很牛逼的！这个技术很牛逼的！这个技术很牛逼的！这个技术很牛逼的！这个技术很牛逼的！
                这个技术很牛逼的！这个技术很牛逼的！这个技术很牛逼的！这个技术很牛逼的！这个技术很牛逼的！这个技术很牛逼的！
                这个技术很牛逼的！这个技术很牛逼的！这个技术很牛逼的！这个技术很牛逼的！这个技术很牛逼的！这个技术很牛逼的！
                这个技术很牛逼的！这个技术很牛逼的！这个技术很牛逼的！这个技术很牛逼的！这个技术很牛逼的！这个技术很牛逼的！
                ！这个技术很牛逼的！这个技术很牛逼的！这个技术很牛逼的！这个技术很牛逼的！这个技术很牛逼的！这个技术很牛逼的！
                这个技术很牛逼的！	这个技术很牛逼的！这个技术很牛逼的！这个技术很牛逼的！这个技术很牛逼的！这个技术很牛逼的！
                这个技术很牛逼的！这个技术很牛逼的！这个技术很牛逼的！这个技术很牛逼的！这个技术很牛逼的！这个技术很牛逼的！
                这个技术很牛逼的！
                这个技术很牛逼的！这个技术很牛逼的！这个技术很牛逼的！这个技术很牛逼的！这个技术很牛逼的！这个技术很牛逼的！
                这个技术很牛逼的！这个技术很牛逼的！这个技术很牛逼的！这个技术很牛逼的！这个技术很牛逼的！这个技术很牛逼的！
                这个技术很牛逼的！这个技术很牛逼的！这个技术很牛逼的！这个技术很牛逼的！这个技术很牛逼的！这个技术很牛逼的！
                这个技术很牛逼的！这个技术很牛逼的！这个技术很牛逼的！这个技术很牛逼的！这个技术很牛逼的！这个技术很牛逼的！
                ！这个技术很牛逼的！这个技术很牛逼的！这个技术很牛逼的！这个技术很牛逼的！这个技术很牛逼的！这个技术很牛逼的！
                这个技术很牛逼的！	这个技术很牛逼的！这个技术很牛逼的！这个技术很牛逼的！这个技术很牛逼的！这个技术很牛逼的！
                这个技术很牛逼的！

            </div>
        </div>
		<div class="content-main-article" id="jishuguanzhan-main">
			<div class="content-main-head">
				<div class="content-head-title">技术观瞻</div><span class="content-head-title-eng">TECHNICAL VIEW</span>
			</div>
			<div class="article-introduction">
                <br/>
                <div class="brand-introduction-words-title">1、什么是3D雕发技术</div>
                <br/>
                <div class="brand-introduction-words-details">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;3D雕发是全新概念真假发糅合定制时尚。采用立体个性化取模技术，结合个人形象、气质与职业特点。突破自体发量、发质、发色限制，由具有精湛雕发技术及审美眼光的资深雕发造型师定制设计，实现形象瞬间蜕变，体验健康，自信的百变时尚。</div>
                <br>
                <div class="brand-introduction-words-details">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;隐形雕发风潮，席卷而来！</div>
                <br>
                <div class="brand-introduction-words-details">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;颠覆想象的美发神器，彻底摆脱烫染的健康隐患，让你成为自己的造型专家！</div>
                <br>
                <br/>
                <div class="brand-introduction-words-title">2、3D雕发有哪些工艺分类 </div>
                <br/>
                <div class="brand-introduction-words-details">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;第一类：质真扣合雕发</div>
                <br>
                <div class="brand-introduction-words-details">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;适用对象：崇尚百变、健康、时尚的商界精英与寻美达人</div>
                <br>
                <div class="brand-introduction-words-details">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;雕发宣言：告别清晨造型的尴尬；告别，无止境的洗剪吹；告别频繁烫染的隐患；享受，健康百变的崭新人生！</div>
                <br>
                <div class="brand-introduction-words-details">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;第二类：顶真粘合雕发</div>
                <br>
                <div class="brand-introduction-words-details">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;适用对象：为脱发或细发困扰的护发达人</div>
                <br>
                <div class="brand-introduction-words-details">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;雕发宣言：结束为生发苦苦寻觅的人生；自信，从头开始；体验瞬间的蜕变；跟灰色的过去说再见！</div>
                <br>
                <div class="brand-introduction-words-details">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;第三类：递真柔扣雕发</div>
                <br>
                <div class="brand-introduction-words-details">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;适用对象：为白发困扰的惧染一族或老年人</div>
                <br>
                <div class="brand-introduction-words-details">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;雕发宣言：要活力，更要健康；为了健康，远离频繁染发；完美遮盖，再现年轻活力！</div>
            </div>
		</div>
		<div class="content-main-article" id="dingzhiliucheng-main">
			<div class="content-main-head">
				<div class="content-head-title">定制流程</div><span class="content-head-title-eng">CUSTOMIZATION PROCESS</span>
			</div>
			<div class="article-introduction">
                <br/>
                <div class="brand-introduction-words-title">第一步：选取发丝</div>
                <br>
                <div class="brand-introduction-words-details">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;客人从目录中挑选自己最中意的发型</div>
                <br/>
                <div class="brand-introduction-words-title">第二步：确定基部网料与款式</div>
                <br/>
                <div class="brand-introduction-words-details">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;客人根据需要选择不同的配合网料和款式</div>
                <br/>
                <div class="brand-introduction-words-title">第三步：修剪发型</div>
                <br>
                <div class="brand-introduction-words-details">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;我们专业的发型师会依照客人所挑选的发型修剪假发直到客人满意为止</div>
            </div>
		</div>
		<div class="content-main-article" id="gongyijianbie-main">
			<div class="content-main-head">
				<div class="content-head-title">工艺鉴别</div><span class="content-head-title-eng">IDENTIFICATION PROCESS</span>
			</div>
			<div class="article-introduction">
                <br/>
                <div class="brand-introduction-words-title">1、如何鉴别假发工艺</div>
                <br>
                <div class="brand-introduction-words-details">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;机制假发工艺原理：机制假发是机器把头发做成发帘一条条固定在网底上，头发无法直立也无法随意分。机制假发跟手指假发的成本差别10倍，网上出售的假发基本全为机制假发。</div>
                <br/>
                <div class="brand-introduction-words-title">2、如何鉴别手植假发工艺</div>
                <br>
                <div class="brand-introduction-words-details">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;手工钩织的假发，头发为一根根的钩织。整个头套可以随意分，发丝根根清晰，为假发制品中最高端的产品。</div>
                <br/>
                <div class="brand-introduction-words-title">3、如何鉴别真假发丝？</div>
                <br>
                <div class="brand-introduction-words-details">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;100%真发与化纤发丝的鉴定方法：100%真发能承受200度以上高温，化纤丝不行，遇到200度高温化纤丝会变焦，发丝会黏在一起，就像用火点燃塑料布一样的感受。如果要鉴定真假，可以把夹板调到200度或以上温度，然后拉头发，一目了然。在200多度的高温下，只有100%真发没有问题，即使温度再高，哪怕头发被烫断，也不会变焦。如果是纯化纤发丝的，200度温度下，化纤丝会完全变焦。就像塑料被火烧一样，全都黏在一起，可以看得非常清楚。</div>
            </div>
		</div>
	</div>
</div>