#wrap
	background-color rgb(238,238,238)
.content-left
	float left
	width 220px
	height 600px
.content-right
	float left
	width 860px
	height 100%
.catalog-list
	float left
	width 220px
	height 600px
	.catalog-head
		margin 10px auto
	.catalog-erweiCode
		padding-top 15px
		background-color rgb(5,79,44)

.catalog-items
	background-color rgb(5,79,44)
	cursor pointer
	.catalog-item
		height 55px
		line-height 55px
		font-size 18px
		color #eee
		.catalog-item-in
			height 55px
			width 120px
			border-bottom 1px solid #eee
			margin 0 auto
	.item-atived
		background-color rgb(137, 128, 0)
		.catalog-item-in
			border-bottom none
.content-article
	display none
	padding 40px
.content-head-title
	font-size 28px
	border-bottom 5px solid #898000
	width 120px
	float left
.content-head-title-eng
	font-size 16px
	display block
	text-align left
	line-height 52px
	color #bbb
.content-main-head
	height 45px
	border-bottom 1px solid #ddd
.introduction-company
	font-size 20px
	text-align left
	color #898000
	line-height 60px
.introduction-company-eng
	font-size 14px
	text-align left
	color #898000
	margin-bottom 10px
.introduction tr td
	font-size 14px
	text-align left
	color #333
	line-height 30px
#cooperation-support,#cooperation-line,#cooperation-standard,#cooperation-return
	width 125px
	float left
	border-right 2px solid #333333
	font-size 16px
	cursor pointer
#cooperation-support-content,#cooperation-line-content,#cooperation-standard-content,#cooperation-return-content
	display none
.cooperation
	width 100%
	height 30px
	.cooperation-head
		width 100%
		height 100%
		.cooperation-head-wrap
			width 500px
			height 100%
			margin 0 auto
			margin-top 20px
			.cooperation-click
				color #898000
.brand-introduction-img, .movies
	height 400px
	width 640px
	margin 20px auto