.navbox
	position fixed
	z-index 2
#wrap
	height 100%
	width 1080px
	margin 0 auto
	padding-top 140px
.content-img
	position relative
	img
		height 400px
		width 1080px
.content-main-nav
	height 50px
	position absolute
	bottom 0
	left 220px
	.content-main-nav-mask-item
		width 160px
		height 50px
		float left
		background-color #094424
		color #EEEEEE
		font-size 16px
		line-height 50px
		cursor pointer
	.content-main-nav-wrap
		position absolute
		top 0
		left 0
		margin 0 auto
		width 640px
		.content-main-nav-item
			width 160px
			float left
			color #EEEEEE
			font-size 16px
			line-height 50px
			border-right 1px dashed #eee
			cursor pointer
.content-main-article
	display none
	padding 40px
.content-head-title
	font-size 28px
	border-bottom 5px solid #898000
	width 120px
	float left
.content-head-title-eng
	font-size 16px
	display block
	text-align left
	line-height 52px
	color #bbb
.content-main-head
	height 45px
	border-bottom 1px solid #ddd

